<template>
  <div class="about">
    <vue-headful
      		title="About | Xperiences" />
   <h1>About this site...</h1>
    <article id="text">
      <p><b>Hi there, my name is Juan Rodriguez and after more than 20 years of being working in on an area far from programming i decided to start a full-stacks bootcamp... This site is part of the result of it. Please don't judge it so hard, as it's only my second Front-End proyect..
      This is the final bootcamp proyect and you can see the requeriments <a href="https://gitlab.com/KVOTHE73/entregas-hab/-/blob/master/Proyecto/wireframes/Proyecto.png">here</a>.<br>
      It's based on html, Javascript, CSS and Vue.js and created for an educationals purposes.<br>
      <u>This page is running:</u><br>
      Linux - Ubuntu v.18.04<br>
      MySQL Workbench<br>
      Visual Studio Code<br>
      Nodejs<br>
      App vue<br>
      Router vue<br>
      Axios library<br>
      Body-parser library<br>
      Express library<br>
      Nodemon library<br>
      MySQL library<br>
      Cors library<br>
      jsonwebtoken<br>
      bcrypt<br>
      css googlefonts<br>
      css weloveiconfonts<br>
      uhlsplash.com<br>
      npmjs.com<br>
      stackoverflow.com<br>
      Vue-headful plugin<br>
      SweetAlert2 plugin<br>
      vue-rate-it plugin<br>
      moment vue library<br>
      nodemailer library<br></b></p>
    </article>
     <h1>Users to log in...</h1>
    <article id="text">
      <p><b>billgates@microsoft.com 1236 (Role: Normal)<br>
      jobbs@apple.com 1238 (Role: normal)<br>
      syn231000@hotmail.com 1235 (Role: Admin)<br>
      gerocahontas@yahoo.es 1237 (Role: Admin)<br></b></p>
    </article>
    <h2>Suggestions and opinions are always welcome at <a href="mailto:syn231000@hotmail.com">syn231000@hotmail.com</a></h2>
  </div>
</template>
<style scoped>


h1 {
  margin-top: 50px;
  color: rgb(218, 78, 78);
  font-size: 30px;
}

h2 {
  color: rgb(218, 78, 78);
  font-size: 11px;
  text-align: right;
  margin-top: 20px;
}

#text {
  color: rgb(216, 146, 54);
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}
</style>
