<!-- VISTA PARA RECOGER ACTIVIDADES Y PODER RESERVARLAS -->
<template>
  <div class="activities">
      <vue-headful
      		title="Activities | Xperiences" />
                    
   <!-- DECLARAMOS EL COMPONENTE (PASO 3/3) Y LE PASAMOS LAS FUNCIONES --> 
   
   <activitieslist v-on:data="activityInfoShowed" v-on:book="addNewBooking" 
        :activities="activities"/>
   
      
    <!-- FORMULARIO MODAL PARA RESERVAR LA ACTIVIDAD, ABRIENDO UNA VENTANA -->
    <div class="Registro">
    <div v-show="seeModal" class="modal">
    <div class="modalBox">
        <p class="text_modal">Hi, {{ username }} {{ usersurname }}</p><br>
        <p class="text_modal">Please complete the form bellow to proceed</p><br>
        <br>email:<br>
        <input type="email" v-model="email" placeholder="email">*
        <br>Booking date:<br>
        <input type="date" v-model="fecha" placeholder="mm/dd/yyyy">*
         <br>Number of assistants:<br>
        <input type="number" v-model="numero_asistentes" placeholder="Number of assistants">*
        <br>

        <h3>
          Booking activity with Id:
        </h3>
        <h1>
          {{ idActivity }}
        </h1>
        <div class="book-1">
        <br>Name:<br>
        <input type="text" placeholder="Activity Name" v-model="name" readonly="readonly">
        <br>Place:<br>
        <input type="text" placeholder="Activity place" v-model="place" readonly="readonly">
        <br>Duration:<br>
        <input type="text" placeholder="Activity duration" v-model="duration" readonly="readonly">
        <br>Places available:<br>
        <input type="text" placeholder="Activity places available" v-model="places" readonly="readonly">
        </div>
        <div class="book-2">
        <br>Available from:<br>
        <input type="text" placeholder="Activity available from" v-model="availableFrom" readonly="readonly">
        <br>Available till:<br>
        <input type="text" placeholder="Activity available to" v-model="availableTo" readonly="readonly">
        <br>Price (€ per assistant):<br>
        <input type="text" placeholder="Activity price" v-model="price" readonly="readonly">
        <br>
        <!-- BOTON PARA CANCELAR Y VOLVER A LA PANTALLA DE ACTIVIDADES -->
        <input @click="seeModal =! seeModal" type="submit" value="Cancel" title="Cancel" class="submit">
        <!-- BOTON QUE RESERVA LA ACTIVIDADAD -->
        <input @click="validatingBooking()" type="submit" value="Book it!" title="Book Reserve" class="submit">
        <p class="fields">* fields required</p>
        </div>
    </div>
    </div>
    </div> 
    
  </div>
</template>

<script>
//IMPORTAMOS LIBRERIAS Y COMPONENTES (PASO 1/3)
import axios from 'axios';
import Swa1 from 'sweetalert2';
import moment from 'moment';
import activitieslist from '@/components/ActivitiesList.vue'
import { getId } from '/home/hab8/Documents/HackaBoss/Entregas/entregas-hab/Proyecto/backend/api/utils.js'

export default {
  name: 'Activities',
  //REGISTRAMOS EL COMPONENTE (PASO 2/3)
  components: {
    activitieslist,
  },

  //ENVIAMOS DATOS
  data() {
    return {
    activities: [],
    idActivity: '',
    id_actividad:'',
    nombre_actividad: '',
    descripcion: '',
    imagen: '',
    nombre_usuario: '',
    email: '',
    fecha: '',
    numero_asistentes: '',
    name: '',
    place: '',
    duration: '',
    places: '',
    availableFrom: '',
    availableTo: '',
    price: '',
    accommodation: '',
    userid: '',
    
    createBooking: false,
    errorMsg: false,
    seeModal: false
    }
  },

  props: {
    username: '',
    usersurname: ''
  },
  
  methods: {
    //FUNCION PARA RECOGER EL ID DEL USUARIO
    setUserId() {
      this.userid = getId()
      console.log(this.userid);
    },
    //FUNCION QUE COMPRUEBA QUE TODOS LOS CAMPOS REQUERIDOS EXISTEN    
        validatingBooking() {
                if(
                this.email === ''||
                this.fecha === '' ||
                this.numero_asistentes === '' 
                ) { //comprobamos que no hay campos vacios
                    this.errorMsg = true
                    this.createBooking = false;
                Swa1.fire({
                    title: 'All fields required!',
                    icon: 'error',
                    confirmButtonText: 'Ok',
                    background: 'black',
                    confirmButtonColor: 'transparent',
                })
                }  else {
                    this.errorMsg = false
                    this.createBooking = true;
                    this.addNewBooking()
                Swa1.fire({
                    title: 'Your book was already sent, thank you!',
                    icon: 'success',
                    confirmButtonText: 'Ok',
                    background: 'black',
                    confirmButtonColor: 'transparent',
                        onClose: () => {
                        this.getActivities()
                        this.seeModal = false
                        }
                })
                }
            },
    //FUNCION DE RESERVAR PRODUCTO
    addNewBooking() {
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.post('http://localhost:3000/actividades/booking/' + this.idActivity, {
        id_actividad: this.idActivity,
        nombre_actividad: this.name,
        descripcion: this.description,
        imagen: this.image,
        id_usuario: this.userid,
        nombre_usuario: this.username + this.usersurname,
        email: this.email,
        fecha: this.fecha,
        numero_asistentes: this.numero_asistentes
      })
      .then((response) => {
        console.log(response);
      })
      .catch((error) => {
        console.log(error);
      })
    },
    activityInfoShowed(activityData) {
      this.name = activityData.nombre
      this.place = activityData.lugar
      this.description = activityData.descripcion
      this.image = activityData.imagen
      this.duration = activityData.duracion
      this.places = activityData.plazas_disponibles
      this.availableFrom = this.$moment(activityData.fecha_inicio).format('MM/DD/YYYY')
      this.availableTo = this.$moment(activityData.fecha_fin).format('MM/DD/YYYY')
      this.price = activityData.precio
      this.accommodation = activityData.alojamiento
      this.idActivity = activityData.id

      this.seeModal = true
    },
    //FUNCION PARA CONSEGUIR LISTADO DE PRODUCTOS
    getActivities() {
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.get('http://localhost:3000/actividades')
      .then((response) => {
        console.log(response);
        this.activities = response.data
      })
      .catch((error) => {
        console.log(error);
      })
    },
    //FUNCION FILTRAR POR FECHA
        // dateFilter() {
        //     var self = this;
        //     //LLAMADA DE AXIOS AL ENDPOINT
        // axios.get('http://localhost:3000/actividades/date/' + self.date)
        // .then(function(response) {
        //     console.log(response);
        //     self.activities = response.data
        // })
        // .catch(function(error) {
        //     console.log(error);
        // })
        // }
  },

  created() {
      this.getActivities(),
      this.setUserId()
  }
}

</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

/*VENTANA EMERGENTE DEL MODAL PARA ACTUALIZAR PRODUCTO*/

/*ID ACTIVITY*/
h1 {
  font-size: 30px;
  padding: 15px;
  
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0.5);
  overflow-y:scroll;
  
}

.modalBox {
  position: relative;
  background-size: cover;
  background-position: center;
  margin: 2% auto;
  padding: 3rem;
  width: 80%;
  border: 1px solid #888;
  color: #e7c4a2;
  line-height: 25px;
}

.book-1 {
   margin-left: 250px;
   margin-top: -314px;
}

.book-2 {
   margin-left: 500px;
   margin-top: -300px;
   margin-bottom: -50px;
}

input {
    margin-bottom: 5px;
    padding: 10px;
    background-color:black;
    border-top: 2px solid black;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    color: white;
    cursor: pointer;
}

.fields {
  font-size: 8px;
  text-align: center;
}
/*CONFIGURACION DE BOTONES DEL MODAL Y SU HOVER*/
.submit {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 8px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    margin: 1px;
    font-size: 11px;
    outline: 0;
    position: relative;
    margin-top: 20px;
    display: inline;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 50px;
       
}

.submit:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

</style>

