<template>
  <div class="contact">
    <vue-headful
      		title="Contact | Xperiences" />
    <div class="container">
      <div class="deconstructed">
  Contact Form
  <div>Contact Form</div>
  <div>Contact Form</div>
  <div>Contact Form</div>
  <div>Contact Form</div>
</div>
   
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Galician Xperiences</h3>
        <ul>
          <li><i class="fa fa-road"></i> 66 Something st</li>
          <li><i class="fa fa-phone"></i> (986) 555-5555</li>
          <li><i class="fa fa-envelope"></i> info@galicianxperiences.com</li>
        </ul>
      </div>
      <div class="contact">
          <form>
          <p>
            <label>Name</label>
            <input type="text" v-model="name" name="name">
          </p>
          <p>
            <label>Company</label>
            <input type="text" v-model="company" name="company">
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" v-model="email" name="email">
          </p>
          <p>
            <label>Phone Number</label>
            <input type="text" v-model="phone" name="phone">
          </p>
          <p class="full">
            <label>Message</label>
            <textarea type="text" v-model="message" name="message" rows="5"></textarea>
          </p>
          <p class="full">
            <input class="button" type="button" value="SUBMIT" id="btn-contact" @click="validatingNewForm()">
          </p>
        </form>
      </div>
    </div>
  </div>
   
  </div>
</template>

<script>
import axios from 'axios';
import Swa1 from 'sweetalert2';

export default {
  name: 'Contact',
    data() {
        return {
          name: '',
          email: '',
          phone: '',
          company: '',
          message: '',
          createForm: false,
          errorMsg: false
          }
        },
  
  methods: {
    
  //FUNCION PARA ENVIAR FORMULARIO
        //FUNCION QUE COMPRUEBA QUE TODOS LOS CAMPOS REQUERIDOS EXISTEN 
        validatingNewForm() {
          if(
          this.name === '' ||
          this.email === ''||
          this.phone === ''||
          this.company === ''||
          this.message === ''
          ) { //comprobamos que no hay campos vacios
              this.errorMsg = true
              this.createForm = false;
          Swa1.fire({
              title: 'All fields required!',
              icon: 'error',
              confirmButtonText: 'Ok',
              background: 'black',
              confirmButtonColor: 'transparent',
                  onClose: () => {
                  this.addNewForm()
                  }
          })
          }  else {
              this.errorMsg = false
              this.createForm = true;
              this.addNewForm()
              Swa1.fire({
                  title: 'Your message was already sent!',
                  icon: 'success',
                  confirmButtonText: 'Ok',
                  background: 'black',
                  confirmButtonColor: 'transparent',
                      onClose: () => {
                        this.addNewForm()
                        }
                  })
            }
        },
        //FUNCION PARA ENVIAR FORMULARIO
         addNewForm() { {
            if(this.createForm === true) {
                //LLAMADA DE AXIOS AL ENDPOINT
                axios.post('http://localhost:3000/form/send/', {
                name: this.name,
                email: this.email,
                phone: this.phone,
                company: this.company,
                message: this.message
                })
                .then((response) => {
                    console.log(response);
                })
                .catch((error) => {
                    console.log(error)
                })
                this.createForm = false;
                this.name = '',
                this.email = '',
                this.phone = '',
                this.company = '',
                this.message= ''
                
            } else {
                console.log('Yo no deberia estar aqui');
            }
        }
        }
    }
}

</script>

<style scoped>

*{
  box-sizing: border-box;
}

body{
  background:#92bde7;
  color:#485e74;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:1em;
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:2em;
}
h1 {
  font-size: 20px;
  font-weight: bolder;
  
}
ul{
  list-style: none;
  padding:0;
}

.brand{
  text-align: center;
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#c9e6ff;
}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#f9feff;
}

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

/* LARGE SCREENS */
@media(min-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .company-info h3, .company-info ul, .brand{
    text-align: left;
  }
}
/*TEXTO Y EFECTO DE SOMBREADO DEL TITULO*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
}

.deconstructed {
    color:  #2c90c6; 
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    padding-top: 30px;
    padding-bottom: 25px;
    position: relative;
    margin: auto;
    height: 1em;
    font-size: 2.5vw;
    letter-spacing: -0.02em;
    line-height: 0.8em;
}

.deconstructed:hover {
    text-shadow: 2px 2px 20px  #2c90c6, rgb(158, 166, 56) 0 -1px 2px;
}

.deconstructed > div {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0px;
  color:  rgb(158, 166, 56);
  pointer-events: none;
 
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s;
  visibility: 5s hidden;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}

</style>

