<!-- PAGINA DE ERROR QUE SE MUESTRA CUANDO SE INTENTA ACCEDER A UNA RUTA QUE NO EXISTE -->
<template>
  <div id="image">
      <vue-headful
      title="Error"/>
      <h1 id="error">
          Ooooooopppss wrong way!!!!!!<br>
          ❌ This route does not exist ❌
      </h1>
      <router-link class="return" to="/">⬅ Back to Home Page</router-link>
      
  </div>   
</template>

<script>
export default {
    name: 'Error'
}
</script>

<style scoped>

#image {
  background-image: url("../assets/error_doh.jpg");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-size: cover;
  background-position: center;
  
  
  background-size: 100% 100%;
  background-color: white;
    
}

/*TEXTO Y EFECTO DE SOMBREADO DEL TITULO*/
#error {
 color: red; 
 font-size: 45px; 
 margin: 0% auto;
 text-align: center;
 font-family: 'Titan One';   
 text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
 padding-top: 40px;
 padding-bottom: 30px;
}

#error:hover {
    text-shadow: 2px 2px 20px  #2c90c6, rgb(158, 166, 56) 0 -1px 2px;
}

.return {
    font-size: 11px;
    display: grid;
    margin-left: 10px;
    margin-top: 300px;
}

</style>