<template>
  <div>
    <vue-headful
    title="Login | Xperiences" />
    <!--TITULO Y EFECTO DE DESPLAZAMIENTO-->
    <div class="deconstructed">
      Login
      <div>Login</div>
      <div>Login</div>
      <div>Login</div>
      <div>Login</div>
    </div>
    <!--FORMULARIO-->
    <div class="login">  
      <span class="fontawesome-envelope-alt"></span>
      <input v-model="email" type="text" placeholder="User email">
      <br>
      <span class="fontawesome-lock"></span>
      <input v-model="password" type="password" placeholder="Password">
      <br>
    <p v-if="isInvalid" class="error">Looks like there is an error in your email or your password, please try again. </p>
    </div>
    <!--BOTON LOGIN--> 
    <button class="btn-login" @click="loginUser()">Log in here</button>
    <!--REDIRECCION A REGISTRO-->
    <p class="msg">Don't have an account yet?
    <router-link to="/register">Regíster here</router-link>
    </p>
    <!--BACK-->    
    <router-link class="return" to="/activities">⬅ Back to Activities</router-link>
  </div>
</template>

<script>
//IMPORTAMOS LIBRERIA SWEETALERT Y FUNCION DE LOGIN DESDE UTILS
import Swa1 from 'sweetalert2';
import { login } from '/home/hab8/Documents/HackaBoss/Entregas/entregas-hab/Proyecto/backend/api/utils.js'

export default {
  name: 'Login',
  data() {
      return {
          email: '',
          password: '',
          isInvalid: false, //SE VUELVE TRUE SI EMAIL O PASSWORD SON INVALIDOS 
      }
  },

  methods: {
    //FUNCION ASINCRONA DE LOGIN, PUES HAY QUE ESPERAR UNA RESPUESTA DEL SERVIDOR
    async loginUser() {
      console.log(this.email);
      console.log(this.password);
      //SI EMAIL O PASSWORD ESTAN VACIOS SALDRA VENTANA DE ERROR, CAMPOS REQUERIDOS
      if(this.email === '' || this.password === '') {
        Swa1.fire({
            title: 'All fields required!',
            icon: 'error',
            confirmButtonText: 'Ok',
            background: 'black',
            confirmButtonColor: 'transparent',
                onClose: () => {
                this.isInvalid = true
                }
        })
      //SI EMAIL O PASSWORD SON INVALIDOS ISINVALID = TRUE   
      if(login(!this.email && !this.password)) {
          return this.isInvalid = true
      }
      //SI TODO ES CORRECTO EMITIMOS EL EVENTO LOGINDONE QUE SERA ESCUCHADO POR EL PADRE (APP) Y REDIRECCIONAMOS
      } else {
        login(this.email, this.password)
        .then (() => {
            this.$emit('logindone')
            this.$router.push('/user_dashboard')
        //VENTANA EMERGENTE AVISANDO DE QUE EL LOGIN FUE OK
        Swa1.fire({
            title: 'Login ok!',
            icon: 'success',
            confirmButtonText: 'Ok',
            background: 'black',
            confirmButtonColor: 'transparent',
                onClose: () => {
                location.assign("http://localhost:8080/#/user_dashboard")
                }
          })
        })
      }
    }
  }
}

</script>

<style scoped>
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
font-family: 'FontAwesome', sans-serif;
}

p {
    color: red;
    margin-bottom: 15px;
    margin-top: 35px;
    text-align: center; 
    font-size: 8px;  
}
.login {
    margin: 36px auto;
    width: 242px;
}

.login span {
    color: hsl(5, 50%, 57%);
    display: block;
    height: 48px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    width: 36px;
}    

.login input {
    border: none;
    height: 48px;
    margin-bottom: 10px;
    outline: none;
}
/*CONFIGURACION CASILLAS TEXTO*/
.login input[type="text"] {
    background-color:#fff3e8;
    border-top: 2px solid rgb(158, 166, 56);
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    color: #363636;
    padding-left: 36px;
    width: 204px;
}

.login input[type="password"] {
    background-color:#fff3e8;
    border-top: 2px solid rgb(158, 166, 56);
    border-right: 1px solid #000;
    border-bottom: 2px solid rgb(158, 166, 56);
    border-left: 1px solid #000;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    color: #363636;
    margin-bottom: 20px;
    padding-left: 36px;
    width: 204px;
}

/*CONFIGURACION BOTON LOGIN Y SU HOVER*/
.btn-login {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
    height: 25px;
    text-align: center;
    width: 75px;
    cursor: pointer;
    font-size: 11px;
    outline: 0;
    margin: auto;
    display: flex;
}

.btn-login:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

.return {
    font-size: 11px;
}

/*TEXTO Y EFECTO DE SOMBREADO DEL TITULO
.texto {
    color: black; 
    font-size: 35px; 
    margin: 0% auto;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    padding-top: 30px;
    padding-bottom: 10px;
}

.texto:hover {
    text-shadow: 2px 2px 20px  #2c90c6, rgb(158, 166, 56) 0 -1px 2px;
}*/

/*TEXTO Y EFECTO DE SOMBREADO DEL TITULO*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
}

.deconstructed {
    color:  #2c90c6; 
    font-size: 35px; 
    margin: 0% auto;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
    margin: auto;
    height: 1em;
    font-size: 3.5vw;
    letter-spacing: -0.02em;
    line-height: 0.8em;
}

.deconstructed:hover {
    text-shadow: 2px 2px 20px  #2c90c6, rgb(158, 166, 56) 0 -1px 2px;
}

.deconstructed > div {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0px;
  color:   rgb(158, 166, 56);
  pointer-events: none;
 
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s;
  visibility: 5s hidden;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}

</style>