<!-- PAGINA DE REGISTRO DE USUARIOS -->
<template>
  <div class="activity_register">
    <vue-headful
      		title="UserRegister | Xperiences" />
        <div class="deconstructed">
            User<br>Register
            <div>User<br>Register</div>
            <div>User<br>Register</div>
            <div>User<br>Register</div>
            <div>User<br>Register</div>
        </div>
        <!-- SI HAY CAMPOS VACIOS REPORTAMOS ERROR -->
        <p v-show="errorMsg">
            *Tienes campos vacios*
        </p>
        <!-- V-MODEL PARA REGISTRO DE USUARIOS -->
        <div class="Registro">
            <span class="fontawesom-user"></span><input
            type="text" v-model="imagen" required placeholder="Picture" autocomplete="off" class="input-100">
            <span class="fontawesom-user"></span><input
            type="text" v-model="nombre" required placeholder="Name" autocomplete="off" class="input-48">
            <span class="fontawesom-user"></span><input
            type="text" v-model="apellidos" required placeholder="Surname" autocomplete="off" class="input-48">  
            <span class="fontawesom-user"></span><input 
            type="text" v-model="dni" required placeholder="D.N.I" autocomplete="off" class="input-48"> 
            <span class="fontawesom-user"></span><input
            type="text" v-model="telefono" required placeholder="Phone number" autocomplete="off" class="input-48">
            <span class="fontawesom-envelope-alt"></span><input
            type="email" v-model="email" required placeholder="email" autocomplete="off" class="input-48"> 
            <span class="fontawesom-lock"></span><input
            type="password" v-model="contrasenna" required placeholder="Password" autocomplete="off" class="input-48">
            <span class="fontawesom-envelope-alt"></span><input
            type="text" v-model="direccion" required placeholder="Address" autocomplete="off" class="input-100">
            <span class="fontawesom-user"></span><input
            type="text" v-model="ciudad" required placeholder="City" autocomplete="off" class="input-48">    
            <span class="fontawesom-user"></span><input
            type="text" v-model="provincia" required placeholder="State" autocomplete="off" class="input-48"> 
            <span class="fontawesom-user"></span><input
            type="text" v-model="codigo_postal" required placeholder="Zip code" autocomplete="off" class="input-48"> 
            <span class="fontawesom-user"></span><input
            type="text" v-model="pais" required placeholder="Country" autocomplete="off" class="input-48"> 
            
            <!-- BOTON DE VALIDACION Y REGISTRO -->
            <input @click="validatingDataRegister()" type="submit" value="Submit" title="Registra tu cuenta" class="btn-enviar">
        </div>
        <p class="msg">Already have an account?
            <router-link to="/login">Login here</router-link>
        </p>
        <router-link class="return" to="/activities">⬅ Back to Activities</router-link>
    </div>
</template>

<script>
//IMPORTAMOS AXIOS Y LA LIBRERIA QUE SACA UNA VENTANA EMERGENTE 
//CONFIGURABLE AL HACER CLICK EN UN BOTON
import axios from 'axios';
import Swa1 from 'sweetalert2';

export default {
    name: 'Register',
    //ENVIAMOS DATOS
    data() {
    return {
      imagen: '',
      nombre: '',
      apellidos: '',
      dni: '',
      email: '',
      contrasenna: '',
      direccion: '',
      ciudad: '',
      provincia: '',
      codigo_postal: '',
      pais: '',
      telefono: '',
      createUser: false,
      errorMsg: false
      }
    },
    methods: {
        //FUNCION QUE COMPRUEBA QUE TODOS LOS CAMPOS REQUERIDOS EXISTEN    
        validatingDataRegister() {
                if(
                this.imagen === '' ||
                this.nombre === ''||
                this.apellidos === '' ||
                this.dni === '' ||
                this.email === ''||
                this.contrasenna === ''||
                this.direccion === ''||
                this.ciudad === ''||
                this.provincia === ''||
                this.codigo_postal === ''||
                this.pais === ''||
                this.telefono === '') { //comprobamos que no hay campos vacios
                    this.errorMsg = true
                    this.createUser = false;
                Swa1.fire({
                    title: 'All fields required!',
                    icon: 'error',
                    confirmButtonText: 'Ok',
                    background: 'black',
                    confirmButtonColor: 'transparent',
                        onClose: () => {
                        this.addNewUser()
                        }
                })
                }  else {
                    this.errorMsg = false
                    this.createUser = true;
                    this.addNewUser()
                Swa1.fire({
                    title: 'Successfully Registered! An email was sent to your inbox!',
                    text: 'Do you want to go to the Log In page?',
                    icon: 'success',
                    confirmButtonText: 'Yes, send me there!',
                    background: 'black',
                    confirmButtonColor: 'transparent',
                    showCancelButton: true,
                    CancelButtonColor: 'transparent',
                        onClose: () => {
                        location.assign("http://localhost:8080/#/login")
                        }
                    }).then((result) => {
                    if (!result.value) {
                        Swa1.fire(
                        setTimeout( () => {
                        location.assign("http://localhost:8080/#/register")
                        location.reload()
                        }, 3000)
                        )}
                    })
                }
            },
        //FUNCION PARA AÑADIR USUARIOS
        addNewUser() {
            if(this.createUser === true) {
                //LLAMADA DE AXIOS AL ENDPOINT
                axios.post('http://localhost:3000/usuarios/add', {
                imagen: this.imagen,
                nombre: this.nombre,
                apellidos: this.apellidos,
                dni: this.dni,
                email: this.email,
                contrasenna: this.contrasenna,
                direccion: this.direccion,
                ciudad: this.ciudad,
                provincia: this.provincia,
                codigo_postal: this.codigo_postal,
                pais: this.pais,
                telefono: this.telefono
                })
                .then((response) => {
                    console.log(response);
                })
                .catch((error) => {
                    console.log(error)
                })
                this.createUser = false;
                this.imagen = '',
                this.nombre = '',
                this.apellidos = '',
                this.dni = '',
                this.email = '',
                this.contrasenna = '',
                this.direccion = '',
                this.ciudad = '',
                this.provincia = '',
                this.codigo_postal = '',
                this.pais = '',
                this.telefono = ''//Asi vacia los campos una vez enviada la informacion para crear nuevo cliente
            } else {
                console.log('Yo no deberia estar aqui');
            }
        }
    }
}

</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
font-family: 'FontAwesome', sans-serif;
}
p {
  color: red;
  text-align: center;
}
/*CONFIGURACION GLOBAL FORMULARIO*/
.Registro {
    margin: auto;
    width: 95%;
    max-width: 500px;
    background: blanchedalmond;
    border-radius: 7px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #fff;
    border-top: 2px solid #2c90c6;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    color: #363636;
    cursor: pointer;
}
.input-48 {
    width: 45%;
}

.input-100 {
    width: 100%;
}

.Registro span {
    /*color: hsl(5, 50%, 57%);*/
    position: absolute;
    text-align: center;
    width: 36px;
}    

.Registro input {
    border: none;
    height: 20px;
    outline: none;
}

.msg {
    color: red;
    text-align: center;
    font-size: 8px;
}

/*CONFIGURACION ESTILOS Y COLORES BOTON SUBMIT Y SU HOVER*/
.Registro input[type="submit"] {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 15px;
    height: 25px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    margin: 1px;
    font-size: 11px;
    outline: 0;
    position: relative;
    margin: auto;
}

.Registro input[type="submit"]:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

.btn-enviar {
    padding: 2px;
}

.return {
    font-size: 11px;
}

/*TEXTO Y EFECTO DE SOMBREADO DEL TITULO*/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.deconstructed {
    color:  #2c90c6; 
    font-size: 35px; 
    margin: 0% auto;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    padding-top: 30px;
    padding-bottom: 50px;
    position: relative;
    margin: auto;
    height: 1em;
    font-size: 3vw;
    letter-spacing: -0.02em;
    line-height: 0.8em;
}

.deconstructed:hover {
    text-shadow: 2px 2px 20px  #2c90c6, rgb(158, 166, 56) 0 -1px 2px;
}

.deconstructed > div {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0px;
  color:   rgb(158, 166, 56);
  pointer-events: none;
 
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s;
  visibility: 5s hidden;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}


</style>
  


   