<!-- PANEL DE CONTROL DEL USUARIO -->
<template>
  <div class="administration">
    <vue-headful
      		title="UserDashboard | Xperiences" />
        
        <img id="image" :src="userpic">
        <p>Hi, {{ username }} {{ usersurname }}</p><br>
        <p>Welcome to your</p><br>
        <div class="deconstructed">
  User<br>Dashboard
  <div>User<br>Dashboard</div>
  <div>User<br>Dashboard</div>
  <div>User<br>Dashboard</div>
  <div>User<br>Dashboard</div>
</div>
   <body>
      <header>
        <nav>
          <ul class="list">
            <p>Here you can...</p><br>
            <li><router-link :to="{ name: 'Activities' }">Book an Activity</router-link></li><br>
            <li><router-link :to="{ name: 'UserBookings' }">Manage your Bookings</router-link></li><br>
            <li><router-link :to="{ name: 'UserRatingXperiences' }">Rate your Xperiences</router-link></li><br>
            <li><router-link :to="{ name: 'UserUpdate' }">Manage your Account</router-link></li><br>
          </ul>
          
          <ul v-if="admin" class="list-2">
            <p>As administrator...</p><br>
            <li><router-link :to="{ name: 'ActivityRegister' }">Create a new Activity</router-link></li><br>
            <li><router-link :to="{ name: 'ActivitiesUpdate' }">Activity Update or Delete</router-link></li><br>
            <li><router-link :to="{ name: 'ManageBookings' }">Manage Bookings</router-link></li><br>
            <li><router-link :to="{ name: 'ManageUsersRatings' }">Manage Users Ratings</router-link></li><br>
            <li><router-link :to="{ name: 'UsersUpdate' }">Users Update or Delete</router-link></li><br>
          </ul>
        </nav>
       
      </header>
    </body>
  </div>
</template>

<script>

export default {
  name: 'UserDashboard',

  props: {
    username: '',
    usersurname: '',
    userpic: '',
    admin: ''
  },

}
</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

img {
  width: 200px;
  height: 150px;
  margin-bottom: 15px;
}

/*TEXTO Y EFECTO DE SOMBREADO DEL TITULO*/

body {
  display: flex;
}

.deconstructed {
    color:  #2c90c6; 
    font-size: 35px; 
    margin: 0% auto;
   
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
    margin: auto;
    height: 1em;
    font-size: 3.5vw;
    letter-spacing: -0.02em;
    line-height: 0.8em;
}

.deconstructed:hover {
    text-shadow: 2px 2px 20px  #2c90c6, rgb(158, 166, 56) 0 -1px 2px;
}

.deconstructed > div {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0px;
  color:  rgb(158, 166, 56);
  pointer-events: none;
 
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s;
  visibility: 5s hidden;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}

.list {
  display: grid;
  margin-left: 350px;
  margin-top: -300px;
}
.list-2 {
  display: grid;
  margin-left: 650px;
  margin-top: -161px;
}
li:hover {
    text-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

</style>
