<!-- PAGINA DE ABOUT, DEBE CONTENER INFO DEL CREADOR, DE LA PROPIA WEB Y TECNOLOGIAS UTILIZADAS -->
<template>
  <div class="about">
    <vue-headful
      		title="About | Hack-a-Market" />
    <h1>About this site...</h1>
    <article id="text">
      <p><b>Hi there, my name is Juan Rodriguez and after more than 20 years of being working in on an area far from programming i decided to start a full-stacks bootcamp... This site is part of the result of it. Please don't judge it so hard, as it's only my second Front-End proyect.This site is inspired, since i need to make an e-market, on a vinyl market for people who loves metal music.<br>
      It's based on Vuejs and created for an educationals purposes.<br>
      <u>This page is running:</u><br>
      Linux - Ubuntu v.18.04<br>
      MySQL Workbench<br>
      Visual Studio Code<br>
      Nodejs<br>
      App vue<br>
      Router vue<br>
      Axios library<br>
      Body-parser library<br>
      Express library<br>
      Nodemon library<br>
      MySQL library<br>
      Cors library<br>
      css googlefonts<br>
      css weloveiconfonts<br>
      uhlsplash.com<br>
      npmjs.com<br>
      stackoverflow.com<br>
      Vue-headful plugin<br>
      SweetAlert2 plugin<br>
      Vue-loading-overlay</b></p>
    </article>
    <h1>Keep'On Ridin' Forever!!</h1>
  </div>
</template>
<style scoped>

h1 {
  color: rgb(218, 78, 78);
}

p {
  color: #e7c4a2;
}
</style>
