<!-- VISTA QUE HACE LAS PETICIONES AL SERVIDOR (AL BACKEND, API.JS EN ESTE CASO) -->
<template>
  <div class="clientes">
      <vue-headful
      		title="Clientes | Hack-a-Market" />
        <!-- DECLARAMOS EL COMPONENTE (PASO 3/3) Y LE PASAMOS LAS FUNCIONES -->  
        <clientslist v-on:datos="mostrarInfoCliente" v-on:borrar="borrandoCliente"
        :clientes="clientes"/>    

        <!-- MODAL PARA ACTUALIZAR CLIENTE, ABRIENDO UNA VENTANA -->
        <div class="Registro">
        <div v-show="seeModal" class="modal">
        <div class="modalBox">
            <h3>
            Please update your profile:
            </h3>
            <p>
            {{ idClientes }}
            </p>Name:<br>
            <input type="text" placeholder="Nombre del cliente" v-model="nombreActualizado">
            <br>User:<br>
            <input type="text" placeholder="Usuario" v-model="usuarioActualizado">
            <br>Password:<br>
            <input type="text" placeholder="Password del cliente" v-model="passwordActualizado">
            <br>email:<br>
            <input type="text" placeholder="email del cliente" v-model="emailActualizado">
            <br>Pic:<br>
            <input type="text" placeholder="foto del cliente" v-model="fotoActualizada">
            <br>
            <!-- BOTON PARA CANCELAR Y VOLVER A LA PANTALLA DE CLIENTES -->
            <input  @click="seeModal =! seeModal" type="submit" value="Cancel" title="Cancel">
            <!-- BOTON QUE ACTUALIZA LOS DATOS DEL CLIENTE -->
            <input @click="actualizarCliente()" type="submit" value="Client Update" title="Client Update">
        </div>
        </div>  
        </div>
  </div>
</template>

<script>
//IMPORTAMOS LIBRERIAS Y COMPONENTES (PASO 1/3)
import axios from 'axios';
import clientslist from '@/components/ClientsList.vue'

export default {
  name: 'Clientes',
  //REGISTRAMOS EL COMPONENTE (PASO 2/3)
  components: {
    clientslist
   
  },
  //ENVIAMOS DATOS
  data() {
    return {
    clientes: [],
    idClientes: '',
    nombreActualizado: '',
    usuarioActualizado: '',
    passwordActualizado: '',
    emailActualizado: '',
    fotoActualizada: '',
    seeModal: false
    }
  },
  methods: {
    //FUNCION DE BORRADO CLIENTE
    borrandoCliente(indiceCliente) {
      var self = this;
      console.log(indiceCliente);
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.delete('http://localhost:3050/clientes/delete/' + indiceCliente)
      .then(function(response) {
        console.log(response);
      })
      .catch(function(error) {
        console.log(error);
      })
      location.reload()
    },
    //FUNCION DE ACTUALIZAR CLIENTE
    actualizarCliente() {
      var self = this;
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.put('http://localhost:3050/clientes/update/' + self.idCliente, {
        nombre: self.nombreActualizado,
        usuario: self.usuarioActualizado,
        password: self.passwordActualizado,
        email: self.emailActualizado,
        foto: self.fotoActualizada
      })
      .then(function(response) {
        console.log(response);
      })
      .catch(function(error) {
        console.log(error);
      })
      location.reload()
    },
    mostrarInfoCliente(datosCliente) {
      this.nombreActualizado = datosCliente.nombre
      this.usuarioActualizado = datosCliente.usuario
      this.passwordActualizado = datosCliente.password
      this.emailActualizado = datosCliente.email
      this.fotoActualizada = datosCliente.foto
      this.idCliente = datosCliente.id

      this.seeModal = true
    },
    //FUNCION PARA CONSEGUIR LISTADO DE CLIENTES
    getClients() {
      var self = this;
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.get('http://localhost:3050/clientes')
      .then(function(response) {
        console.log(response);
        self.clientes = response.data
      })
      .catch(function(error) {
        console.log(error);
      })
    },
  },
  created() {
      this.getClients()
    }
}
</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

.clientes {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-image: url(../assets/space.jpg);
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200%;
}

/*VENTANA EMERGENTE DEL MODAL PARA ACTUALIZAR CLIENTE*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0.5);
}
.modalBox {
  background-image: url(../assets/space.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  margin: 2% auto;
  padding: 3rem;
  width: 80%;
  border: 1px solid #888;
  color: #e7c4a2;
  line-height: 25px;
  
}
/*CONFIGURACION DE BOTONES DEL MODAL Y SU HOVER*/
input[type="submit"] {
    background-color:  rgb(107, 14, 14);
    border: 1px solid #2c90c6;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    cursor: pointer;
    margin: 10px;
    font-size: 7px;
    outline: 0;
}

input[type="submit"]:hover {
    background-color: rgb(218, 78, 78);
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

</style>

    

 