<!-- ESTA ES NUESTRA PAGINA DE INICIO. NUESTRA LANDING -->
<template>
  <div class="home">
    <vue-headful
      		title="Home | Hack-a-Market" />

    <div class="container demo">            
    <div class="content">
    <div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
      <h2 class="main-title"><span class="thin">Welcome to the metal & alternative music<br><br></span></h2>
      <h1 id="title"><b> - Hack -a - Market - </b></h1>
      <img src="../assets/metalfans.jpg">
      <p>This site is dedicated to all the metal vinyl records fans around the universe</p>
    </div>
    </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {
  }
}
</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);
/*WELCOME TO THE METAL...*/
.main-title {
   position: relative;
   margin-top: -100px;
   padding: 0;
   color: #e7c4a2;
   text-align: center;
   letter-spacing: 0.1em;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}
/*HACK A MARKET*/
#title {
  text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 30px; 
  text-shadow: 0 0 10px rgb(248, 219, 54);
  text-transform: uppercase;
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  color:rgb(209, 33, 33);  
}
/*THIS SITE IS DEDICATED...*/
p {
  color: rgb(218, 78, 78);
}
/*AJUSTE DE LA IMAGEN*/
img {
  position: center;
  background-size: cover;
  background-position: center;
  width: 750px;
  margin-top: -170px;
  mix-blend-mode: lighten;
}

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}




</style>
