<!-- VISTA QUE HACE LAS PETICIONES AL SERVIDOR (AL BACKEND, API.JS EN ESTE CASO) -->
<template>
  <div class="productos">
      <vue-headful
      		title="Productos | Hack-a-Market" />
   <!-- DECLARAMOS EL COMPONENTE (PASO 3/3) Y LE PASAMOS LAS FUNCIONES -->         
   <productslist v-on:datos="mostrarInfoProducto" v-on:borrar="borrandoProducto"
        :productos="productos"/>  

         <!-- MODAL PARA ACTUALIZAR PRODUCTO, ABRIENDO UNA VENTANA -->
    <div class="Registro">
    <div v-show="seeModal" class="modal">
    <div class="modalBox">
   
        <h3>
          Update the products:
        </h3>
        <p>
          {{ idProductos }}
        </p>Image:<br>
        <input type="text" placeholder="Imagen del producto" v-model="imagenActualizada">
        <br>Name:<br>
        <input type="text" placeholder="Nombre del producto" v-model="nombreActualizado">
        <br>Stock:<br>
        <input type="text" placeholder="Stock del producto" v-model="stockActualizado">
        <br>Available:<br>
        <input type="text" placeholder="disponibilidad del producto" v-model="disponibilidadActualizada">
        <br>
        <!-- BOTON PARA CANCELAR Y VOLVER A LA PANTALLA DE PRODUCTOS -->
        <input @click="seeModal =! seeModal" type="submit" value="Cancel" title="Cancel">
        <!-- BOTON QUE ACTUALIZA LOS DATOS DEL PRODUCTO -->
        <input @click="actualizarProducto()" type="submit" value="Product Update" title="Product Update">
    </div>
    </div>
    </div> 
  </div>
</template>

<script>
//IMPORTAMOS LIBRERIAS Y COMPONENTES (PASO 1/3)
import axios from 'axios';
import productslist from '@/components/ProductsList.vue'

export default {
  name: 'Productos',
  //REGISTRAMOS EL COMPONENTE (PASO 2/3)
  components: {
    productslist
   
  },
  //ENVIAMOS DATOS
  data() {
    return {
    productos: [],
    idProductos: '',
    imagenActualizada: '',
    nombreActualizado: '',
    stockActualizado: '',
    disponibilidadActualizada: '',
    seeModal: false
    }
  },
  methods: {
    //FUNCION DE BORRADO DE PRODUCTO
    borrandoProducto(indiceProducto) {
      var self = this;
      console.log(indiceProducto);
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.delete('http://localhost:3050/productos/delete/' + indiceProducto)
      .then(function(response) {
        console.log(response);
      })
      .catch(function(error) {
        console.log(error);
      })
      location.reload()
    },
    //FUNCION DE ACTUALIZAR PRODUCTO
    actualizarProducto() {
      var self = this;
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.put('http://localhost:3050/productos/update/' + self.idProducto, {
        imagen: self.imagenActualizada,
        nombre: self.nombreActualizado,
        stock: self.stockActualizado,
        disponibilidad: self.disponibilidadActualizada
      })
      .then(function(response) {
        console.log(response);
      })
      .catch(function(error) {
        console.log(error);
      })
      location.reload()
    },
    mostrarInfoProducto(datosProducto) {
      this.imagenActualizada = datosProducto.imagen
      this.nombreActualizado = datosProducto.nombre
      this.stockActualizado = datosProducto.stock
      this.disponibilidadActualizada = datosProducto.disponibilidad
      this.idProducto = datosProducto.id

      this.seeModal = true
    },
    //FUNCION PARA CONSEGUIR LISTADO DE PRODUCTOS
    getProducts() {
      var self = this;
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.get('http://localhost:3050/productos')
      .then(function(response) {
        console.log(response);
        self.productos = response.data
      })
      .catch(function(error) {
        console.log(error);
      })
    },
  },

  created() {
      this.getProducts()
  }
}
</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

.productos {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-image: url(../assets/space.jpg);
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200%;
}

/*VENTANA EMERGENTE DEL MODAL PARA ACTUALIZAR PRODUCTO*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0.5);
}
.modalBox {
  background-image: url(../assets/space.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  margin: 2% auto;
  padding: 3rem;
  width: 80%;
  border: 1px solid #888;
  color: #e7c4a2;
  line-height: 25px;
}
/*CONFIGURACION DE BOTONES DEL MODAL Y SU HOVER*/
input[type="submit"] {
    background-color:  rgb(107, 14, 14);
    border: 1px solid #2c90c6;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    cursor: pointer;
    margin: 10px;
    font-size: 7px;
    outline: 0;
}

input[type="submit"]:hover {
    background-color: rgb(218, 78, 78);
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

</style>

