<!-- PAGINA DE REGISTRO DE PRODUCTOS -->
<template>
  <div class="registrar_producto">
    <vue-headful
      		title="RegistrarProducto | Hack-a-Market" />
        <p class="texto">Products<br>Create</p>
        <!-- SI HAY CAMPOS VACIOS REPORTAMOS ERROR -->
        <p v-show="errorMsg">
            *Tienes campos vacios*
        </p>
        <!-- V-MODEL PARA REGISTRO DE PRODUCTOS -->
        <div class="Registro">
            <form method="post" action="https://getform.org/f/70415a77-d632-4883-bf07-2e15d3f557da"/>

            <span class="fontawesome-user"></span><input
            type="text" v-model="imagen" required placeholder="Image" autocomplete="off">  
            <span class="fontawesome-user"></span><input 
            type="text" v-model="nombre" required placeholder="Name" autocomplete="off"> 
            <span class="fontawesome-user"></span><input
            type="text" v-model="stock" required placeholder="Stock" autocomplete="off"> 
            <span class="fontawesome-user"></span><input
            type="text" v-model="disponibilidad" required placeholder="Available" autocomplete="off"> 
            <!-- BOTON DE VALIDACION Y REGISTRO -->
            <input @click="validatingDataProducts()" type="submit" value="Submit" title="Registra tu cuenta">
        </div>
    </div>
</template>

<script>
//IMPORTAMOS AXIOS Y LA LIBRERIA QUE SACA UNA VENTANA EMERGENTE 
//CONFIGURABLE AL HACER CLICK EN UN BOTON
import axios from 'axios';
import Swa1 from 'sweetalert2';

export default {
    name: 'RegistrarProducto',
    //ENVIAMOS DATOS
    data() {
    return {
        nombre: '',
        stock: '',
        disponibilidad: '',
        imagen: '',
        createProduct: false,
        errorMsg: false
    }
    
},
    methods: {
        //FUNCION QUE COMPRUEBA QUE TODOS LOS CAMPOS REQUERIDOS EXISTEN    
        validatingDataProducts() {
                if(this.nombre === ''||
                this.stock === '' ||
                this.disponibilidad === '' ||
                this.imagen === '') { //comprobamos que no hay campos vacios
                    this.errorMsg = true
                    this.createProduct = false;
                Swa1.fire({
                    title: 'All fields required!',
                    icon: 'error',
                    confirmButtonText: 'Ok',
                    background: 'black',
                    confirmButtonColor: 'transparent',
                        onClose: () => {
                        location.reload()
                        }
                })
                }  else {
                    this.errorMsg = false
                    this.createProduct = true;
                    this.addNewProduct()
                Swa1.fire({
                    title: 'Success adding new product!',
                    icon: 'success',
                    confirmButtonText: 'Ok',
                    background: 'black',
                    confirmButtonColor: 'transparent',
                        onClose: () => {
                        location.reload()
                        }
                })
                }
            },
        //FUNCION PARA AÑADIR PRODUCTOS
        addNewProduct() {
            if(this.createProduct === true) {
                var self = this;
                //LLAMADA DE AXIOS AL ENDPOINT
                axios.post('http://localhost:3050/productos/add', {
                nombre: self.nombre,
                stock: self.stock,
                disponibilidad: self.disponibilidad,
                imagen: self.imagen
                })
                .then(function(response) {
                    console.log(response);
                })
                .catch(function(error){
                    console.log(error)
                })
                this.createProduct = false;
                this.nombre = ''
                this.stock = ''
                this.disponibilidad = ''
                this.imagen = ''//Asi vacia los campos una vez enviada la informacion para crear nuevo cliente
            } else {
                console.log('Yo no deberia estar aqui');
            }
        }
    }
}



</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
font-family: 'FontAwesome', sans-serif;
}
/*CONFIGURACION POSICION Y FUENTE BOTON SUBMIT*/
input {
    font-size: 0,5em;
    line-height: 1.5em;
    margin-top: 10px;
    padding: 0;
    -webkit-appearance: none;
}
/*CONFIGURACION GLOBAL FORMULARIO*/
.Registro {
        margin: 50px auto;
        width: 242px;
    }

.Registro span {
    color: hsl(5, 50%, 57%);
    display: block;
    height: 48px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    width: 36px;
}    

.Registro input {
    border: none;
    height: 48px;
    outline: none;
}
/*CONFIGURACION CASILLAS TEXTO*/
.Registro input[type="text"] {
    background-color: #fff;
    border-top: 2px solid #2c90c6;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    color: #363636;
    padding-left: 36px;
    width: 204px;
}
/*CONFIGURACION ESTILOS Y COLORES BOTON SUBMIT Y SU HOVER*/
.Registro input[type="submit"] {
    background-color:  rgb(107, 14, 14);
    border: 1px solid #2c90c6;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    width: 240px;
    cursor: pointer;
    outline: 0;
}

.Registro input[type="submit"]:hover {
    background-color: rgb(218, 78, 78);
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

/*CONFIGURACION TITULO "PRODUCTS CREATE" Y SU HOVER*/
.texto {
    color: rgb(107, 14, 14); 
    font-size: 35px; 
    margin: 0% auto;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    padding-top: 40px;
}

p:hover {
    text-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

</style>
  


   