<!-- PAGINA DE REGISTRO DE CLIENTES -->
<template>
  <div class="registrar_cliente">
    <vue-headful
      		title="RegistrarCliente | Hack-a-Market" />
    <p class="texto">Clients<br>Register</p>
    <!-- SI HAY CAMPOS VACIOS REPORTAMOS ERROR -->
    <p v-show="errorMsg">
          *Tienes campos vacios*
    </p>
    <!-- V-MODEL PARA REGISTRO DE CLIENTES -->
    <div class="Registro">
        <form method="post" action="https://getform.org/f/70415a77-d632-4883-bf07-2e15d3f557da"/>

        <span class="fontawesome-user"></span><input 
        type="text" v-model="nombre" required placeholder="Name" autocomplete="off"> 
        <span class="fontawesome-user"></span><input
        type="text" v-model="usuario" required placeholder="User" autocomplete="off"> 
        <span class="fontawesome-lock"></span><input 
        type="text" v-model="password" name="password" id="password" required placeholder="Password" autocomplete="off">
        <span class="fontawesome-envelope-alt"></span><input 
        type="text" v-model="email" name="email" id="email" required placeholder="Email" autocomplete="off">
        <span class="fontawesome-user"></span><input
        type="text" v-model="foto" required placeholder="Pic" autocomplete="off">  
        <!-- BOTON DE VALIDACION Y REGISTRO -->
        <input @click="validatingDataClients()" type="submit" value="Register" title="Registra tu cuenta">
    </div>
  </div>
</template>

<script>
//IMPORTAMOS AXIOS Y LA LIBRERIA QUE SACA UNA VENTANA EMERGENTE 
//CONFIGURABLE AL HACER CLICK EN UN BOTON
import axios from 'axios';
import Swa1 from 'sweetalert2';

export default {
    name: 'RegistrarCliente',
    //ENVIAMOS DATOS
    data() {
    return {
        nombre: '',
        usuario: '',
        password: '',
        email: '',
        foto: '',
        createClient: false,
        errorMsg: false,
    }
    
},
    methods: {
        //FUNCION QUE COMPRUEBA QUE TODOS LOS CAMPOS REQUERIDOS EXISTEN
        validatingDataClients() {
            if(this.nombre === ''||
            this.usuario === '' ||
            this.password === '' ||
            this.email === '' ||
            this.foto === '') { //comprobamos que no hay campos vacios
                //alert('No puedes dejar campos vacios!') => ya no lo queremos al usar sweetalert
                this.errorMsg = true
                this.createClient = false;
            Swa1.fire({
                title: 'All fields required!',
                icon: 'error',
                confirmButtonText: 'Ok',
                background: 'black',
                confirmButtonColor: 'transparent',
                    onClose: () => {
                    location.reload()
                    }
            })
            }  else {
                this.errorMsg = false
                this.createClient = true;
                this.addNewClient()
            Swa1.fire({
                title: 'Success adding new client!',
                icon: 'success',
                confirmButtonText: 'Ok',
                background: 'black',
                confirmButtonColor: 'transparent',
                    onClose: () => {
                    location.reload()
                    }
            })
            }
        },
        //FUNCION PARA AÑADIR CLIENTES
        addNewClient() {
            if(this.createClient === true) {
                var self = this;
                //LLAMADA DE AXIOS AL ENDPOINT
                axios.post('http://localhost:3050/clientes/add', {
                nombre: self.nombre,
                usuario: self.usuario,
                password: self.password,
                email: self.email,
                foto: self.foto
                })
                .then(function(response) {
                    console.log(response);
                })
                .catch(function(error){
                    log(error)
                })
                this.createClient = false;
                this.nombre = ''
                this.password = ''
                this.usuario = ''
                this.email = ''
                this.foto = ''//Asi vacia los campos una vez enviada la informacion para crear nuevo cliente
            } else {
                console.log('Yo no deberia estar aqui');
            }
        }
    },
}



</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
font-family: 'FontAwesome', sans-serif;
}
/*CONFIGURACION POSICION Y FUENTE BOTON SUBMIT*/
input {
    font-size: 0,5em;
    line-height: 1.5em;
    margin-top: 10px;
    padding: 0;
    -webkit-appearance: none;
}
/*CONFIGURACION GLOBAL FORMULARIO*/
.Registro {
        margin: 50px auto;
        width: 242px;
    }

.Registro span {
    color: hsl(5, 50%, 57%);
    display: block;
    height: 48px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    width: 36px;
}    

.Registro input {
    border: none;
    height: 48px;
    outline: none;
}
/*CONFIGURACION CASILLAS TEXTO*/
.Registro input[type="text"] {
    background-color: #fff;
    border-top: 2px solid #2c90c6;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    color: #363636;
    padding-left: 36px;
    width: 204px;
}
/*CONFIGURACION CASILLAS PASSWORD*/
.Registro input[type="password"] {
    background-color: #fff;
    border-top: 2px solid #2c90c6;
    border-right: 1px solid #000;
    border-bottom: 2px solid #2c90c6;
    border-left: 1px solid #000;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    color: #363636;
    margin-bottom: 20px;
    padding-left: 36px;
    width: 204px;
}
/*CONFIGURACION ESTILOS Y COLORES BOTON SUBMIT Y SU HOVER*/
.Registro input[type="submit"] {
    background-color:  rgb(107, 14, 14);
    border: 1px solid #2c90c6;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    width: 240px;
    cursor: pointer;
    outline: 0;
}

.Registro input[type="submit"]:hover {
    background-color: rgb(218, 78, 78);
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}
/*CONFIGURACION TITULO "CLIENTES REGISTER" Y SU HOVER*/ 
.texto {
    color: rgb(107, 14, 14); 
    font-size: 35px; 
    margin: 0% auto;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    padding-top: 40px;
}

p:hover {
    text-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

</style>
  


   