<!-- GESTION DE RESERVAS POR PARTE DEL USUARIO, EDICION Y/O BORRADO -->
<template>
  <div class="users">
      <vue-headful
      		title="UserBookings | Xperiences" />
      <p class="texto">Your<br>Bookings<br></p> 
        <!-- DECLARAMOS EL COMPONENTE Y LE PASAMOS LAS FUNCIONES -->         
      <bookingslist v-on:data="bookingsInfoShowed" v-on:delete="bookingDeleted"
        :bookings="bookings"/>  
      <!-- MODAL PARA ACTUALIZAR RESERVAS, ABRIENDO UNA VENTANA -->
      <div class="Registro">
      <div v-show="seeModal" class="modal">
      <div class="modalBox">
   
        <h3>
          Booking Id:
        </h3>
        
          {{ idBooking }}
        <br>
        <!-- BOTON PARA CANCELAR Y VOLVER A LA PANTALLA DE RESERVAS -->
        <input @click="seeModal =! seeModal" type="submit" value="Cancel" title="Cancel" class="submit">
        <!-- BOTON QUE ACTUALIZA LOS DATOS DE LA RESERVA -->
        <input @click="bookingUpdate()" type="submit" value="Update" title="Update" class="submit">
        <div class="book-1">
        Activity booked Id:<br>
        <input type="text" placeholder="Booked Id" v-model="bookedIdUpdated" readonly="readonly">
        <br>Booked name:<br>
        <input type="text" placeholder="Booked name" v-model="bookedNameUpdated" readonly="readonly">
        <br>Description:<br>
        <input type="text" placeholder="Description" v-model="descriptionUpdated" readonly="readonly">
        <br>Image:<br>
        <input type="text" placeholder="Image" v-model="imageUpdated" readonly="readonly">
        <br>Date:<br>
        <input type="text" placeholder="Date" v-model="dateUpdated">
        </div>
        <div class="book-2">
        <br>Number of participants:<br>
        <input type="text" placeholder="Number of participants" v-model="participantsUpdated">
        <br>User id:<br>
        <input type="text" placeholder="User Id" v-model="userIdUpdated" readonly="readonly">
        <br>User name:<br>
        <input type="text" placeholder="User name" v-model="userNameUpdated" readonly="readonly">
        <br>Email:<br>
        <input type="text" placeholder="email" v-model="emailUpdated">
        </div>
    </div>
    </div>
    </div> 
        <router-link class="return" to="/user_dashboard">⬅ Back to Dashboard</router-link>
  </div>
</template>

<script>
//IMPORTAMOS LIBRERIAS Y COMPONENTES
import axios from 'axios'
import Swa1 from 'sweetalert2';
import bookingslist from '@/components/BookingsList.vue'
import { getId } from '/home/hab8/Documents/HackaBoss/Entregas/entregas-hab/Proyecto/backend/api/utils.js'

export default {
  name: 'ManageBookings',
    components: {
      bookingslist
    },
  data() {
    return {
    bookings: [],
    userid: '',
    idBooking: '',
    bookedIdUpdated: '',
    bookedNameUpdated: '',
    descriptionUpdated: '',
    imageUpdated: '',
    userIdUpdated: '',
    userNameUpdated: '',
    emailUpdated: '',
    dateUpdated: '',
    participantsUpdated: '',
    seeModal: false
    }
  },
  methods: {
   //FUNCION DE BORRADO DE RESERVA
    bookingDeleted(bookingIndex) {
      console.log(bookingIndex);
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.delete('http://localhost:3000/bookings/delete/' + bookingIndex)
      .then(function(response) {
        console.log(response);
      })
    },
    //FUNCION DE ACTUALIZAR RESERVA
    bookingUpdate() {
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.put('http://localhost:3000/bookings/update/' + this.idBooking, {
        id_actividad: this.bookedIdUpdated,
        nombre_actividad: this.bookedNameUpdated,
        descripcion: this.descriptionUpdated,
        imagen: this.imageUpdated,
        id_usuario: this.userIdUpdated,
        nombre_usuario: this.userNameUpdated,
        email: this.emailUpdated,
        fecha: this.dateUpdated,
        numero_asistentes: this.participantsUpdated
      })
      .then((response) => {
        console.log(response);
      })
      .catch((error) => {
        console.log(error);
      })
      
      Swa1.fire({
       title: 'Your booking was already updated, thank you!',
       icon: 'success',
       confirmButtonText: 'Ok',
       background: 'black',
       confirmButtonColor: 'transparent',
       onClose: () => {
          this.getBookings()
          this.seeModal = false
          }
      })
    },

      bookingsInfoShowed(bookingData) {
      this.bookedIdUpdated = bookingData.id_actividad 
      this.bookedNameUpdated = bookingData.nombre_actividad
      this.descriptionUpdated = bookingData.descripcion
      this.imageUpdated = bookingData.imagen
      this.userIdUpdated = bookingData.id_usuario
      this.userNameUpdated = bookingData.nombre_usuario
      this.emailUpdated = bookingData.email
      this.dateUpdated = this.$moment(bookingData.fecha).format('YYYY/MM/DD')
      this.participantsUpdated = bookingData.numero_asistentes
      this.idBooking = bookingData.id
     
      this.seeModal = true
    },
  //FUNCION PARA RECOGER EL ID DEL USUARIO
    setUserId() {
      this.userid = getId()
      console.log(this.userid);
    },    
  //FUNCION PARA CONSEGUIR LISTADO DE RESERVAS
    getBookings() {
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.get('http://localhost:3000/usuarios/reservas/' + getId())
      .then((response) => {
        console.log(response);
        this.bookings = response.data
      })
      .catch((error) => {
        console.log(error);
      })
    },
  },

  created() {
      this.getBookings(),
      this.setUserId()
  }
}

</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
font-family: 'FontAwesome', sans-serif;
}

/*VENTANA EMERGENTE DEL MODAL PARA ACTUALIZAR PRODUCTO*/

/*ID ACTIVITY*/
h1 {
  font-size: 30px;
  padding: 15px;
  
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0.5);
  overflow-y:scroll;
  
}

.modalBox {
  position: relative;
  background-size: cover;
  background-position: center;
  margin: 2% auto;
  padding: 3rem;
  width: 80%;
  border: 1px solid #888;
  color: #e7c4a2;
  line-height: 25px;
}

.book-1 {
   margin-left: 250px;
   margin-top: -100px;
}

.book-2 {
   margin-left: 500px;
   margin-top: -369px;
   margin-bottom: 50px;
}

input {
    margin-bottom: 5px;
    padding: 10px;
    background-color:black;
    border-top: 2px solid black;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    color: white;
    cursor: pointer;
}

.fields {
  font-size: 8px;
  text-align: center;
}

.return {
    font-size: 11px;
}

/*CONFIGURACION DE BOTONES DEL MODAL Y SU HOVER*/
.submit {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 8px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    margin: 1px;
    font-size: 11px;
    outline: 0;
    position: relative;
    margin-top: 20px;
    display: inline;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 50px;
       
}

.submit:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

/*TEXTO Y EFECTO DE SOMBREADO DEL TITULO*/
.texto {
    color:  rgb(158, 166, 56); 
    font-size: 40px; 
    margin: 0% auto;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    padding-top: 40px;
    padding-bottom: 30px;
    animation: type 3s steps(10);
    overflow: hidden;
    white-space: nowrap;
}

p:hover {
    text-shadow: 2px 2px 20px  #2c90c6, rgb(158, 166, 56) 0 -1px 2px;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 10ch;
    }
}

</style>

