<!-- ACTUALIZACION O BORRADO DE SU CUENTA POR PARTE DEL USUARIO -->
<template>
  <div class="users">
      <vue-headful
      		title="UserUpdate | Xperiences" />
          <userupdateordelete v-on:data="userInfoShowed" v-on:delete="userDeleted"
          :profile="profile"/>  
    
    <!-- MODAL PARA ACTUALIZAR USUARIO, ABRIENDO UNA VENTANA -->
    
    <div v-show="seeModal" class="modal">
    <div class="modalBox">
   
        <h3>
          Updating user:
        </h3>
        <p>
          {{ username }} {{ usersurname }}
        </p>
        <div class="Registro">
          <div class="data-1">
        Image:<br>
        <span class="fontawesome-user"></span><input type="text" placeholder="User image" v-model="imageUpdated">
        <br>Name:<br>
        <span class="fontawesome-user"></span><input type="text" placeholder="User name" v-model="nameUpdated">
        <br>Surname:<br>
        <span class="fontawesome-user"></span><input type="text" placeholder="User surname" v-model="surnameUpdated">
        <br>D.N.I:<br>
        <span class="fontawesome-user"></span><input type="text" placeholder="User dni" v-model="dniUpdated">
        </div>
        <div class="data-2">
        <br>email:<br>
        <span class="fontawesome-envelope-alt"></span><input type="text" placeholder="User email" v-model="emailUpdated">
        <br>Address:<br>
        <span class="fontawesome-envelope-alt"></span><input type="text" placeholder="User address" v-model="addressUpdated">
        <br>City:<br>
        <span class="fontawesome-user"></span><input type="text" placeholder="User city" v-model="cityUpdated">
        <br>State:<br>
        <span class="fontawesome-user"></span><input type="text" placeholder="User state" v-model="stateUpdated">
        </div>
        <div class="data-3">
        <br>Zip Code:<br>
        <span class="fontawesome-user"></span><input type="text" placeholder="User zip code" v-model="zipcodeUpdated">
        <br>Country:<br>
        <span class="fontawesome-user"></span><input type="text" placeholder="User country" v-model="countryUpdated">
        <br>Phone:<br>
        <span class="fontawesome-user"></span><input type="text" placeholder="User phone" v-model="phoneUpdated">
        <br>
        <!-- BOTON PARA CANCELAR Y VOLVER A LA PANTALLA DE USUARIOS -->
        <input @click="seeModal =! seeModal" type="submit" value="Cancel" title="Cancel" class="submit">
        <!-- BOTON QUE ACTUALIZA LOS DATOS DEL USUARIO -->
        <input @click="userUpdate()" type="submit" value="Update" title="Update" class="submit">
         </div>
    </div>
    </div>
    </div> 
       
  </div>
</template>

<script>
//IMPORTAMOS LIBRERIAS Y COMPONENTES
import axios from 'axios';
import Swa1 from 'sweetalert2';
import userupdateordelete from '@/components/UserUpdateOrDelete.vue'
import { getId } from '/home/hab8/Documents/HackaBoss/Entregas/entregas-hab/Proyecto/backend/api/utils.js'

export default {
  name: 'UserUpdateDelete',
   components: {
    userupdateordelete
  },
  //ENVIAMOS DATOS
  data() {
    return {
    profile: [],
    userid: '',
    idUser: '',
    imageUpdated: '',
    nameUpdated: '',
    surnameUpdated: '',
    dniUpdated: '',
    emailUpdated: '',
    addressUpdated: '',
    cityUpdated: '',
    stateUpdated: '',
    zipcodeUpdated: '',
    countryUpdated: '',
    phoneUpdated: '',
    seeModal: false
    }
  },

  props: {
    username: '',
    usersurname: ''
  },

  methods: {
    //FUNCION DE BORRADO DE USUARIO
    userDeleted(userIndex) {
      console.log(userIndex);
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.delete('http://localhost:3000/usuarios/delete/' + userIndex)
      .then((response) => {
        console.log(response);
      })
      .catch((error) => {
        console.log(error);
      })
    },
    //FUNCION DE ACTUALIZAR USUARIO
    userUpdate() {
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.put('http://localhost:3000/usuarios/update/' + this.idUser, {
        imagen: this.imageUpdated,
        nombre: this.nameUpdated,
        apellidos: this.surnameUpdated,
        dni: this.dniUpdated,
        email: this.emailUpdated,
        direccion: this.addressUpdated,
        ciudad: this.cityUpdated,
        provincia: this.stateUpdated,
        codigo_postal: this.zipcodeUpdated,
        pais: this.countryUpdated,
        telefono: this.phoneUpdated,
      })
      .then((response) => {
        console.log(response);
      })
      .catch((error) => {
        console.log(error);
      })
      Swa1.fire({
      title: 'Your profile was already updated, thank you!',
      icon: 'success',
      confirmButtonText: 'Ok',
      background: 'black',
      confirmButtonColor: 'transparent',
      onClose: () => {
        this.getProfile()
        this.seeModal = false
        }
      })
    },
    userInfoShowed(userData) {
      this.imageUpdated = userData.imagen 
      this.nameUpdated = userData.nombre
      this.surnameUpdated = userData.apellidos
      this.dniUpdated = userData.dni
      this.emailUpdated = userData.email
      this.addressUpdated = userData.direccion
      this.cityUpdated = userData.ciudad
      this.stateUpdated = userData.provincia
      this.zipcodeUpdated = userData.codigo_postal
      this.countryUpdated = userData.pais
      this.phoneUpdated = userData.telefono
      this.idUser = userData.id
     
      this.seeModal = true
    },

    //FUNCION PARA CONSEGUIR LA PROFILE DEL USUARIO
    getProfile() {
      var self = this;
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.get('http://localhost:3000/usuarios/load/' + getId() )
      .then((response) => {
        console.log(response);
        this.profile = response.data
      })
      .catch((error) => {
        console.log(error);
      })
    },
  },

  created() {
      this.getProfile()
  }
}

</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
font-family: 'FontAwesome', sans-serif;
}

p {
  color: rgb(180, 4, 4);
  font-size: 50px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0.5);
  overflow-y:scroll;
  margin-top: -8px;
}

.modalBox {
  position: relative;
  background-size: cover;
  background-position: center;
  margin: 2% auto;
  padding: 3rem;
  width: 80%;
  border: 1px solid #888;
  color: #e7c4a2;
  line-height: 25px;
  margin-top: 50px;
}

.data-1 {
   margin-left: 50px;
   margin-top: 50px;
}

.data-2 {
   margin-left: 300px;
   margin-top: -300px;
  
}

.data-3 {
   margin-left: 600px;
   margin-top: -303px;
  
}

input {
    margin-bottom: 5px;
    padding: 10px;
    background-color:black;
    border-top: 2px solid black;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    color: white;
    cursor: pointer;
}

.fields {
  font-size: 8px;
  text-align: center;
}
/*CONFIGURACION DE BOTONES DEL MODAL Y SU HOVER*/
.submit {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 8px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    margin: 1px;
    font-size: 11px;
    outline: 0;
    position: relative;
    margin-top: 20px;
    display: inline;
    margin-right: 5px;
    margin-left: 15px;
       
}

.submit:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

</style>

