<template>
  <div id="app">
   <!--v-if PARA QUE SOLO EJECUTE EL MENU SI NO ESTAMOS EN HOME YA QUE EN LA LANDING NO NOS INTERESA EL MENU-->
   <div v-if="$route.name !== 'Home'" id="nav">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
     <!--SIDEBAR - MENU QUE SE OCULTA-->
      <div class="sidebar">
        <h2>MENU</h2>
        <ul>
          <!-- RUTAS PUBLICAS -->
          <li><a><router-link :to="{ name: 'Home' }">Home</router-link></a></li>
          <li><a><router-link :to="{ name: 'Activities' }">Activities</router-link></a></li>
          <li><a><router-link :to="{ name: 'Contact' }">Contact</router-link></a></li>
          <li><a><router-link :to="{ name: 'About' }">About</router-link></a></li>
          <li><a><router-link v-show="!logged" :to="{ name: 'Login' }">Login</router-link></a></li>
          <li><a><router-link v-show="!logged" :to="{ name: 'Register' }">Register</router-link></a></li>
          <!-- v-show QUE VERIFICA SI SE ESTA LOGUEADO O NO -->
          <li><a><a v-show="logged" @click="logoutUser()">User Logout</a></a></li>
          <!-- RUTAS PRIVADAS -->
          <li><a><router-link v-show="logged" :to="{ name: 'UserDashboard' }">User Panel</router-link></a></li>
        </ul>
      </div>
      <!--CUANDO isBurguerActive = true SE ABRE Y SINO SE CIERRA-->
      <div class="contenido" :class="{ 'abrir' : isBurgerActive }">
      <!--IMAGEN QUE ABRE EL MENU OCULTO AL HACER CLICK EN ELLA-->
      <img @click.prevent="toggle" src="./assets/logo.jpg" alt="" class="menu-bar">

      <!--BOTONES DE LOGIN Y REGISTRER QUE APARECEN CUENDO NO SE ESTA LOGUEADO-->
      <div class="login">
        <a><router-link v-show="!logged" :to="{ name: 'Login' }"><button class="user_buttons">Login</button></router-link></a>
        <a><router-link v-show="!logged" :to="{ name: 'Register' }"><button class="user_buttons">Register</button></router-link></a>
      
      <!--NOMBRE Y MENSAJES ROTATIVOS DE BIENVENIDA QUE APARECEN CUANDO EL USUARIO SE LOGUEA-->
      <!-- v-show QUE VERIFICA SI SE ESTA LOGUEADO O NO -->
      <div v-show="logged" class="user">
          <ul type="user">
            <li>Welcome</li>
            <li>Willkommen</li>
            <li>Bienvenido/a</li>
          </ul>
          <h1>{{ username }} {{ usersurname }}</h1>
      </div>
      
      <!--BOTONES DE LOGOUT Y USER PANEL-->
      <!-- v-show QUE VERIFICA SI SE ESTA LOGUEADO O NO -->
      <!-- BOTON LOGOUT -->
      <button class="user_buttons" v-show="logged" @click="logoutUser()">User Logout</button>
      <!-- BOTON USER PANEL Y MENU DESPLEGABLE -->
      <div v-show="logged" class="btn-user">
      <button class="user_buttons">User Panel</button>
      <div class="dropdown-menu" role="menu">
          <!--MENU USUAREIO REGISTRADO-->     
            <a><router-link :to="{ name: 'Activities' }">Book an Activity</router-link></a><br>
            <a><router-link :to="{ name: 'UserBookings' }">Manage your Bookings</router-link></a><br>
            <a><router-link :to="{ name: 'UserRatingXperiences' }">Rate your Xperiences</router-link></a><br>
            <a><router-link :to="{ name: 'UserUpdate' }">Manage your Account</router-link></a><br>
        
          
      <!-- v-show QUE VERIFICA SI SE ES ADMIN O NO -->
      <div v-show="admin" class="btn-admin">
          <!--MENU USUARIO ADMINISTRADOR-->   
            <a><router-link :to="{ name: 'ActivityRegister' }">Create a new Activity</router-link></a><br>
            <a><router-link :to="{ name: 'ActivitiesUpdate' }">Activity Update or Delete</router-link></a><br>
            <a><router-link :to="{ name: 'ManageBookings' }">Manage Bookings</router-link></a><br>
            <a><router-link :to="{ name: 'ManageUsersRatings' }">Manage Users Ratings</router-link></a><br>
            <a><router-link :to="{ name: 'UsersUpdate' }">Users Update or Delete</router-link></a><br>
      </div>
      </div>
      </div>
      </div>
      <!--ESCUCHAMOS CUANDO SE PRODUCE EL EVENTO LOGINDONE Y EJECUTAMOS AFTERLOGIN AL PRODUCIRSE. ENVIAMOS :USERNAME, ETC PARA SER USADAS COMO PROPS-->
      <router-view 
      @logindone="afterLogin()"
      :username="username"
      :usersurname="usersurname"
      :userpic="userpic"
      :admin="admin"
      />
      </div>
      </div> 
      <!--ROUTER-VIEW PARA QUE SE VEA LA LANDING, SOLO EN CASO DE ESTAR EN LA RUTA HOME-->
      <router-view v-if="$route.name === 'Home'"/>
      <footer>
        HackaBoss - Final Proyect - CreatedBy⚡Juan_Rodriguez@2020
      </footer>
  </div>
</template>

<script>
import { getName } from '/home/hab8/Documents/HackaBoss/Entregas/entregas-hab/Proyecto/backend/api/utils.js'
import { getSurname } from '/home/hab8/Documents/HackaBoss/Entregas/entregas-hab/Proyecto/backend/api/utils.js'
import { getPic } from '/home/hab8/Documents/HackaBoss/Entregas/entregas-hab/Proyecto/backend/api/utils.js'
//IMPORTAMOS LA FUNCION LOGOUT
import { logout } from '/home/hab8/Documents/HackaBoss/Entregas/entregas-hab/Proyecto/backend/api/utils.js'
//IMPORTAMOS ISLOGGEDIN PARA MOSTRAR / OCULTAR RUTAS EN FUNCION DE SI SE ESTA O NO LOGUEADO 
import { isLoggedIn } from '/home/hab8/Documents/HackaBoss/Entregas/entregas-hab/Proyecto/backend/api/utils.js'
//IMPORTAMOS ISLOGGEDIN PARA MOSTRAR / OCULTAR RUTAS EN FUNCION DE SI SE ESTA O NO LOGUEADO 
import { checkIsAdmin } from '/home/hab8/Documents/HackaBoss/Entregas/entregas-hab/Proyecto/backend/api/utils.js'


export default {
    name: 'App',
    components: {
      
    },
      data() {
      return {
      logged: false,
      admin: false,
      isBurgerActive: false,
      username: '',
      usersurname: '',
      userpic: '',
      admin: ''
    }
    },
      
    methods: {
      //FUNCION QUE CIERRA EL MENU OCULTO AL HACER CLICK O TRAS 5 SEGUNDOS
      toggle() {
         this.isBurgerActive = !this.isBurgerActive
         setTimeout( () => {
          this.isBurgerActive = false
        }, 5000);
      },
      //FUNCION PARA RECOGER EL NOMBRE DEL USUARIO
        setUserName() {
        this.username = getName()
        },
        //FUNCION PARA RECOGER LOS APELLIDOS DEL USUARIO
        setUserSurname() {
        this.usersurname = getSurname()
        },
        //FUNCION PARA RECOGER LA IMAGEN DEL USUARIO
        setUserPic() {
        this.userpic = getPic()
        },
        //FUNCION DE LOGOUT
        logoutUser() {
        this.logged = logout()
        this.logged = false
        this.admin = false
        this.username = ''
        this.usersurname = ''
        this.userpic = ''
        this.$router.push('/login')
        },
        //FUNCION QUE COMPRUEBA SI SE ESTA LOGUEADO O NO
        getLogin() {
          this.logged = isLoggedIn()
        },
        //FUNCION QUE COMPRUEBA SI SE ES ADMIN O NO
        getAdmin() {
          this.admin = checkIsAdmin()
        },
        afterLogin() {
          this.setUserName(),
          this.setUserSurname(),
          this.getLogin(),
          this.getAdmin(),
          this.setUserPic()
        },
    },
    created() {
      this.afterLogin()
    }
}

</script>

<style>

#nav {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
/*MENU OCULTO*/
.sidebar {
  position:absolute;
  width: 150px;
  height: 100%;
  background: #333;
  color: #fff;
  outline: 1px solid #2a2a2a;
}

.sidebar h2 {
  text-align: center;
  margin: 0;
  padding: 10px;
  background: #2a2a2a;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  outline: 1px solid #2a2a2a;
  transition: all 0.3s;
}

.sidebar li:hover {
  background: #444;
  border-left: 5px solid #eee;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.menu-bar {
  width: 35px;
  height: 35px;
  mix-blend-mode: darken;
  border-radius: 50%;
}

.contenido {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  padding: 10px;
}

.menu-bar {
  cursor: pointer;
}

.abrir {
  transform: translateX(150px);
}

/*BOTONES DE LOGIN Y REGISTER*/
.login {
  text-align: right;
  margin-top: -30px;
  margin-right: 15px;
  font-size: 10px;
  color: #fff;
  
}

/*BOTONES DE LOGOUT Y USER PANEL*/
.user_buttons {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    height: 35px;
    text-align: center;
    width: 35px;
    cursor: pointer;
    margin: 2px;
    font-size: 5px;
    outline: 0;
    margin-top: -15px;
}

/*HOVER BOTONES DE LOGIN, REGISTER, LOGOUT Y USER PANEL*/
.user_buttons:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6,#fff 0 -1px 2px;
    color: black;
}

/*TEXTO ROTATIVO DE BIENVENIDA*/
.user {
  color: black;
  display: flex;
  width: 150px;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
  margin-left: 625px;
  margin-top: 10px;

  overflow: hidden;
}

ul[type="user"] {
  list-style: none;
  padding-left: 18px;
  margin-right: 5px;
  animation: cambiar 6s infinite;
}

h1 ul[type="user"] {
  margin: 0;
}

@keyframes cambiar {
  0% {margin-top: 0;}
  20% {margin-top: 0;}
  25% {margin-top: -10px;}
  50% {margin-top: -10px;}
  55% {margin-top: -20px;}
  80% {margin-top: -20px;}
  85% {margin-top: -10px;}
  95% {margin-top: -10px;}
  100% {margin-top: 0px;}
}

/*MENU DESPLEGABLE BOTON USER PANEL*/
.dropdown-menu a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 8px;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown-menu {
  background-color: #f9f9f9;
  width: 170px;
  margin-left: 900px;
  display: none;
  position: absolute;
}

.btn-user:hover .dropdown-menu {
  display: block;
}

/*POSICION Y COLOR DEL FOOTER*/
  footer {
    color:  #002FA7;
    text-align: center;
}
 
</style>
