<template>
  <div class="home">
    <vue-headful
      		title="Home | Xperiences" />
        
      <div class="banner">
        
        <p>
        <span>
        Galician<br>Xtreme
        </span>
        </p>
        <a><router-link :to="{ name: 'Activities' }"><button class="enter">Enter</button></router-link></a>
      </div>
      <MARQUEE class="marquee" WIDTH=100% HEIGHT=60> <span>Rafting * Diving * Geocatching - Finding Treasure * Canoyng * Quad Routes * Parapenting * Bungee Jumping * Aqua Kart *</span></MARQUEE>
      
  </div>
</template>

<script>


export default {
  name: 'Home',
    data() {
        return {
       
      }
      },
  components: {
    
  },
  methods: {
  },
}

</script>

<style scoped>


.banner {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-size: cover;
  background-position: center;
  
  
  background-size: 100% 100%;

  animation: banner 20s infinite;
}

@keyframes banner {
  0%, 10% {
    background-image: url(../assets/banner/barranquismo.jpg);
    opacity: 1;
  }
  11%, 13% {
    opacity: 0.1;
  }
  14%, 24% {
    background-image: url(../assets/banner/buceo.jpg);
    opacity: 1;
  }
  25%, 27% {
    opacity: 0.1;
  }
  28%, 38% {
    background-image: url(../assets/banner/senderismo.jpg);
    opacity: 1;
  }
  39%, 41% {
    opacity: 0.1;
  }
  42%, 52% {
    background-image: url(../assets/banner/canoa.jpg);
    opacity: 1;
  }
  53%, 55% {
    opacity: 0.1;
  }
  56%, 66% {
    background-image: url(../assets/banner/rafting.jpg);
    opacity: 1;
  }
  67%, 70% {
    opacity: 0.1;
  }
  71%, 81% {
    background-image: url(../assets/banner/puenting.jpg);
    opacity: 1;
  }
  82%, 85% {
    opacity: 0.1;
  }
  86%, 96% {
    background-image: url(../assets/banner/anochecer.jpg);
    opacity: 1;
  }
  97%, 100% {
    opacity: 0.1;
  }
}

body { font: 400 1em/1.5 "Neuton"; background: #fff; color: #002FA7; text-align: center; margin: 0 }

p {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	padding: 1.5em 0em;
	position: absolute;
	top: 1%;
	left: 39%;
	width: 40em;
	margin: 0 0 0 -20em;
}
  span {

  	font: 700 4em/1 "Oswald", sans-serif;
    color: #fff;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px #002FA7;

/* Clip Background Image */

	  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }


/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

.marquee {
  font-size: 4px;
  margin-top:450px
}

a {
  margin-right: 25px;
  margin-top: 50px;
  padding: 15px;
  display: flex;
}

.enter {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 15px;
    height: 20px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    margin: 1px;
    font-size: 11px;
    outline: 0;
    position: relative;
    margin: 50px 0px 0px 170px;
}

.enter:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

.enter {
    padding: 2px;
}

</style>
