<template>
  <div>

    <vue-headful
      title="Hack-a-Music | About"/>

    <section id="title">
          <h1>
           <span>ABOUT PAGE</span>
          </h1>
    </section>
    <article id="text">
      <p><b>Tracking page using lastFM API to get top tags, artists and songs of the moment,<br>
      based on Vuejs and created for an educationals purposes.<br>
      This page is running:<br>
      LastFM API<br>
      App vue<br>
      Router vue<br>
      Axios library<br>
      Vue-headful plugin<br>
      SweetAlert2 plugin<br>
      Vue-loading-overlay</b></p>
    </article>
  </div>
</template>

<script>

export default {
  name: "About" 
}
</script>

<style scoped>

div {
  background-image: url('/home/hab8/Documents/HackaBoss/Entregas/entregas-hab/front/Entrega1/hackamusic/src/assets/banner.jpg');
}

#title {
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: rgba(255, 255, 255, 0); 
    text-shadow: 0 0 9px red;
    text-transform: uppercase;
    height: 33vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
    color:rebeccapurple;
    font-size: 30px;
};

#text {
    color:white;
    font-size: 40px;
};

</style>
