<template>
  <div>
      <vue-headful
      title="Error"/>
      <h1 id="error">
          Ooooooopppss wrong way!!!!!!<br>
          ❌ This route does not exist ❌
      </h1>
  </div>   
</template>

<script>
export default {
    name: 'Error'
}
</script>

<style scoped>

#error {
    color: red;
    align-items: center;
    justify-content: center;
    text-align: center;
};

</style>