<template>
  <div class="TopArtists">

    <vue-headful
      title="Hack-a-Music | TopArtists"/>

    <topartiststable :artists="artists"/>
         
  </div>
</template>

<script>
import api from '@/api/index.js';
import topartiststable from '@/components/TopArtistsTable.vue'

export default {
    name: 'TopArtists',
    components: {
      topartiststable
      
  },
   data() {
    return {
    artists: [
    
            {id: 1,
             band: 'Metallica',
             image: 'https://i2.wp.com/undergroundlab.es/wp-content/uploads/2019/11/Metallica.jpg?fit=800%2C445&ssl=1'}
     ]
    }
  },

  created() {
  api.getArtists().then(response => (this.artists = response.data.topartists.artist))
  }

}
</script>

