<template>
  <div class="home">
        
    <vue-headful
      title="Hack-a-Music | TopTags"/>
   
   <toptagstable :tags="tags"/>

  
    
  </div>
</template>

<script>
// @ is an alias to /src
import api from '@/api/index.js';
import toptagstable from '@/components/TopTagsTable.vue';


export default {
  name: 'Home',
  components: {
      toptagstable
  },

  data() {
    return {
      tags: []
  }
  },

  created() {
  api.getTags().then(response => (this.tags = response.data.tags.tag))
  }

};


</script>
