<template>
  <div>

    <vue-headful
      title="Hack-a-Music | TopTracks"/>
    
    <toptrackstable :tracks="tracks"/>
    
    </div>
</template>

<script>
import api from '@/api/index.js';
import toptrackstable from '@/components/TopTracksTable.vue'

export default {
  name: 'TopTracks',
  components: {
      toptrackstable
  },

  data() {
    return {
    tracks: []
  }
  },

  created() {
  api.getTracks().then(response => (this.tracks = response.data.tracks.track))
  }

}
</script>

