<template>
  <div>
      <footer>
        HackaBoss - Frontend - Entrega1 - Vuejs - CreatedBy⚡Juan_Rodriguez@2020
      </footer>
    </div>
</template>

<script>
export default {
    name: 'FooterCustom'
}
</script>

<style scoped>
    footer {
      padding: 1rem;
      color:  #42b983;
      margin-top: 5rem;
    }
    
</style>