<template>
  <div id="nav">
    <!-- Cambiamos el menu de estatico a dinámico -->
      <router-link :to="{ name: 'TopTags' }">Top-Tags</router-link> |
      <router-link :to="{ name: 'TopArtists' }">Top-Artists</router-link> |
      <router-link :to="{ name: 'TopTracks' }">Top-Tracks</router-link> |
      <router-link :to="{ name: 'About' }">About</router-link>
  </div>
</template>

<script>
export default {
  name: 'MenuCustom'
  
};

</script>

<style scoped>

#nav {
  padding: 20px;

}

#nav a {
  font-weight: bold;
  color: whitesmoke;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
