<template>
  <div>
         
    <section id="title">
            <h1>
                <span>TOP ARTISTS</span>
            </h1>
    </section>
    <div id="search">
        <input type="searching" v-model="searching" placeholder="Search for artists">
    </div>
    <div id="main container" class="scroll">
    <table>
      <body>
          <th><h2>ARTIST</h2></th>
          <th><h2>LISTENERS</h2></th>
          <th><h2>PAGE</h2></th>
          <th><h2>IMAGE</h2></th>
        <tr v-for="artist in filteredArtists" :key="artist.id" >
          <td> {{ artist.name }} </td>
          <td> {{ artist.listeners }} </td>
          <td> <a target="_blank " :href="`${artist.url}`"><button>{{ artist.name }} page</button></a></td>
          <td> <button @click="sweetAlertOn()">Picture</button></td>
        </tr>
      </body>
    </table>
    </div>
  </div>
</template>

<script>
import Swa1 from 'sweetalert2'

export default {
    name: 'TopArtistsTable',
    props: {
      artists: Array,
      pictures: Array
    },
    data() {
      return {
        searching: ""
      }
        
    },

    methods: {
			sweetAlertOn() {
				Swa1.fire({
					title: "Metallica",
					imageUrl: 'https://i2.wp.com/undergroundlab.es/wp-content/uploads/2019/11/Metallica.jpg?fit=800%2C445&ssl=1',
          confirmButtonText: 'Ok',
          background: 'black',
          confirmButtonColor: 'transparent'
        }
      )},
    },

    computed: {
      filteredArtists() {
         if(!this.searching) {
         return this.artists
        }
        return this.artists.filter( item => 
        item.name.toLowerCase().includes(this.searching.toLowerCase()))
        }
    }
}
</script>

<style scoped>

#image {
  background-color: black;
  background-image: url(../assets/banner.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
}

div.scroll { 
  width: 900px; 
  height: 400px; 
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align:justify;
  margin: auto; 
}

#title {
  text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 30px; 
  color: rgba(255, 255, 255, 0); 
  text-shadow: 0 0 9px red;
  text-transform: uppercase;
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  color:rebeccapurple;  
}

#main-container {
  margin: 150px auto;
  width: 600px;
}

#search {
  margin-bottom: 20px;
}

input:hover {
  border: 2px solid green;
  cursor: pointer;
}

table {
    display: grid;
    width: 100%;
    border-collapse: collapse;
    background-image: url(../assets/banner.jpg);
    align-items: center;
    justify-content: center;
}

th {
    background-color: #246355;
    color: rebeccapurple;
    border: 1px solid wheat;
    border-bottom: solid 5px #0F362D;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1px;
    font-size: 10px;
}

td {
    color: rosybrown;
    width: 100%;
    text-align: left;
    vertical-align: top;
    border: 1px solid white;
    padding: 50px;
}

button {
    color: rebeccapurple;
    border: 1px solid white;
    background-color: #42b983;
    cursor: pointer;
}

button:hover {
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    background-color: transparent;
    color:rosybrown;
}

</style>