<template>
  <div>
      <section id="title">
        <h1>
          <span>TOP TAGS</span>
        </h1>
      </section>
      <div id="search">
        <input type="searching" v-model="searching" placeholder="Search for tags">
      </div>
          <div id="main container" class="scroll">
             <div v-if="loading" class="lds-hourglass"></div>
            <table>
              <body>
                <th><h2>TYPE</h2></th>
                <th><h2>REACH</h2></th>
                <th><h2>TAGGINS</h2></th>
                <th><h2>URL</h2></th>
                
                  <tr v-for="tag in filteredTags" :key="tag.id">
                    <td> {{ tag.name }} </td>
                    <td> {{ tag.reach }} </td>
                    <td> {{ tag.taggings }} </td>
                    <td> <a target="_blank " :href="`${tag.url}`"><button>{{ tag.name }} LastFM page</button></a> </td>
                  </tr>
              </body>
            </table>
          </div>
   </div>
</template>

<script>


export default {
    name: 'TopTagsTable',
    props: {
      tags: Array
    },
     data() {
      return {
        searching: "",
      }
    },
    
    computed: {
      filteredTags() {
         if(!this.searching) {
          return this.tags
        }
        return this.tags.filter( item => 
        item.name.toLowerCase().includes(this.searching.toLowerCase()))
        
     }
    }
};

</script>

<style scoped>

#image {
  background-color: black;
  background-image: url(../assets/banner.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
}

div.scroll { 
  width: 900px; 
  height: 400px; 
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align:justify;
  margin: auto; 
}

#title {
  text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 30px; 
  color: rgba(255, 255, 255, 0); 
  text-shadow: 0 0 9px red;
  text-transform: uppercase;
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  color:rebeccapurple;  
}

#main-container {
  margin: 150px auto;
  width: 600px;
}

#search {
  margin-bottom: 20px;
}

input:hover {
  border: 2px solid green;
  cursor: pointer;
}

table {
    display: grid;
    width: 100%;
    border-collapse: collapse;
    background-image: url(../assets/banner.jpg);
    align-items: center;
    justify-content: center;
}

th {
    background-color: #246355;
    color: rebeccapurple;
    border: 1px solid wheat;
    border-bottom: solid 5px #0F362D;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1px;
    font-size: 10px;
}

td {
    color: rosybrown;
    width: 100%;
    text-align: left;
    vertical-align: top;
    border: 1px solid white;
    padding: 60px;
}

button {
    color: rebeccapurple;
    border: 1px solid white;
    background-color: #42b983;
    cursor: pointer;
}

button:hover {
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    background-color: transparent;
    color:rosybrown;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  

}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 50px;
  box-sizing: border-box;
  border: 32px solid  #fff;
  border-color: #42b983 transparent  rebeccapurple transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

</style>