<template>
  <div id="image">
    <section id="title">
          <h1>
           <span>TOP TRACKS</span>
          </h1>
    </section>
    <div id="search">
        <input type="searching" v-model="searching" placeholder="Search for tracks">
    </div>
    <div id="main container" class="scroll">
    <table>
      <body>
        <tr>
          <th><h2>TRACK</h2></th>
          <th><h2>ARTIST</h2></th>
          <th><h2>LISTENERS</h2></th>
          <th><h2>LISTEN</h2></th>
        </tr>
        <tr v-for="track in filteredTracks" :key="track.id">
          <td> {{ track.name }} </td>
          <td> {{ track.artist.name }} </td>
          <td> {{ track.listeners }} </td>
          <td> <a target="_blank " :href="`${track.url}`"><button>Play Track!</button></a></td>
        </tr>
      </body>
    </table>
    </div>
  </div>
</template>

<script>

export default {
    name: 'TopTracksTable',
    props: {
      tracks: Array
    },
    data() {
      return {searching: ""}
    },
    
    computed: {
      filteredTracks() {
         if(!this.searching) {
         return this.tracks
        }
        return this.tracks.filter( item => 
        item.name.toLowerCase().includes(this.searching.toLowerCase()))
        }
    }
};

</script>

<style scoped>

#image {
  background-color: black;
  background-image: url(../assets/banner.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
}

div.scroll { 
  width: 900px; 
  height: 400px; 
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align:justify;
  margin: auto; 
}

#title {
  text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 30px; 
  color: rgba(255, 255, 255, 0); 
  text-shadow: 0 0 9px red;
  text-transform: uppercase;
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  color:rebeccapurple;  
}

#main-container {
  margin: 150px auto;
  width: 600px;
}

#search {
  margin-bottom: 20px;
}

input:hover {
  border: 2px solid green;
  cursor: pointer;
}

table {
    display: grid;
    width: 100%;
    border-collapse: collapse;
    background-image: url(../assets/banner.jpg);
    align-items: center;
    justify-content: center;
}

th {
    background-color: #246355;
    color: rebeccapurple;
    border: 1px solid wheat;
    border-bottom: solid 5px #0F362D;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1px;
    font-size: 10px;
}

td {
    color: rosybrown;
    width: 100%;
    text-align: left;
    vertical-align: top;
    border: 1px solid white;
    padding: 30px;
}

button {
    color: rebeccapurple;
    border: 1px solid white;
    background-color: #42b983;
    cursor: pointer;
}

button:hover {
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    background-color: transparent;
    color:rosybrown;
}

</style>