<template>
  <div id="app">
   
    <menucustom/>
    <router-view/>
    <footercustom/>
    
  </div>
</template>

<script>
import menucustom from '@/components/MenuCustom.vue';
import footercustom from '@/components/FooterCustom.vue';

export default {
  
  name: 'App',
  components: {
    menucustom,
    footercustom,
    
    
  },
      
}


</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  text-align: center;
  background-image: url(./assets/banner.jpg);
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  
  
}

</style>
