<!-- VISTA QUE HACE LAS PETICIONES AL SERVIDOR (AL BACKEND, API.JS EN ESTE CASO) -->
<template>
  <div class="activities">
      <vue-headful
      		title="ActivitiesUpdate | Xperiences" />
   <!-- DECLARAMOS EL COMPONENTE (PASO 3/3) Y LE PASAMOS LAS FUNCIONES -->         
   <activitieslist v-on:data="activityInfoShowed" v-on:delete="activityDeleted"
        :activities="activities"/>  
    <router-link class="return" to="/user_dashboard">⬅ Back to Dashboard</router-link>

         <!-- MODAL PARA ACTUALIZAR ACTIVIDAD, ABRIENDO UNA VENTANA -->
    <div class="Registro">
    <div v-show="seeModal" class="modal">
    <div class="modalBox">
   
        <h3>
          Updating activity:
        </h3>
        <p>
          {{ idActivity }}
         </p>
         <div class="book">
        <div class="book-0">
        Image:<br>
        <input type="text" placeholder="Activity Image" v-model="imageUpdated">
        <br>Type:<br>
        <input type="text" placeholder="Activity Type" v-model="typeUpdated">
        <br>Name:<br>
        <input type="text" placeholder="Activity Name" v-model="nameUpdated">
        </div>
         <div class="book-1">
        <br>Place:<br>
        <input type="text" placeholder="Activity place" v-model="placeUpdated">
        <br>Description:<br>
        <input type="text" placeholder="Activity description" v-model="descriptionUpdated">
        <br>Duration:<br>
        <input type="text" placeholder="Activity duration" v-model="durationUpdated">
        <br>Places available:<br>
        <input type="text" placeholder="Activity places available" v-model="placesAvailableUpdated">
         </div>
          <div class="book-2">
        <br>Available start:<br>
        <input type="text" placeholder="Activity available start" v-model="startDateUpdated">
        <br>Available end:<br>
        <input type="text" placeholder="Activity end" v-model="endDateUpdated">
        <br>Price:<br>
        <input type="text" placeholder="Activity price" v-model="priceUpdated">
        <br>Accommodation:<br>
        <input type="text" placeholder="Activity accommodation" v-model="accommodationUpdated">
        <br>
        </div>
        </div>
        <!-- BOTON PARA CANCELAR Y VOLVER A LA PANTALLA DE ACTIVIDADES -->
        <input @click="seeModal =! seeModal" type="submit" value="Cancel" title="Cancel" class="submit">
        <!-- BOTON QUE ACTUALIZA LOS DATOS DE LA ACTIVIDAD -->
        <input @click="activityUpdate()" type="submit" value="Update" title="Activity Update" class="submit">
    </div>
    </div>
    </div> 
  </div>
</template>

<script>
//IMPORTAMOS LIBRERIAS Y COMPONENTES (PASO 1/3)
import axios from 'axios';
import Swa1 from 'sweetalert2';
import activitieslist from '@/components/ActivitiesList.vue';

export default {
  name: 'ActivitiesUpdate',
  //REGISTRAMOS EL COMPONENTE (PASO 2/3)
  components: {
    activitieslist
   
  },
  //ENVIAMOS DATOS
  data() {
    return {
    activities: [],
    idActivity: '',
    imageUpdated: '',
    typeUpdated: '',
    nameUpdated: '',
    placeUpdated: '',
    descriptionUpdated: '',
    durationUpdated: '',
    placesAvailableUpdated: '',
    startDateUpdated: '',
    endDateUpdated: '',
    priceUpdated: '',
    accommodationUpdated: '',
    seeModal: false
    }
  },
  filters: {
    moment: function (startDateUpdated) {
      return moment(startDateUpdated).format('MM/DD/YYYY');
      console.log(startDateUpdated);
      }
    },
  methods: {
    //FUNCION DE BORRADO DE ACTIVIDAD
    activityDeleted(activityIndex) {
      var self = this;
      console.log(activityIndex);
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.delete('http://localhost:3000/actividades/delete/' + activityIndex)
      .then(function(response) {
        console.log(response);
      })
      .catch(function(error) {
        console.log(error);
      })
    },
    //FUNCION DE ACTUALIZAR ACTIVIDAD
    activityUpdate() {
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.put('http://localhost:3000/actividades/update/' + this.idActivity, {
        imagen: this.imageUpdated,
        tipo: this.typeUpdated,
        nombre: this.nameUpdated,
        lugar: this.placeUpdated,
        descripcion: this.descriptionUpdated,
        duracion: this.durationUpdated,
        plazas_disponibles: this.placesAvailableUpdated,
        fecha_inicio: this.startDateUpdated,
        fecha_fin: this.endDateUpdated,
        precio: this.priceUpdated,
        alojamiento: this.accommodationUpdated
        })
      .then((response) => {
        console.log(response);
      })
      .catch((error) => {
        console.log(error);
      })
      Swa1.fire({
        title: 'The activity was already updated, thank you!',
        icon: 'success',
        confirmButtonText: 'Ok',
        background: 'black',
        confirmButtonColor: 'transparent',
        onClose: () => {
          this.getActivities()
          this.seeModal = false
          }
      })
    },
    activityInfoShowed(activityData) {
      this.imageUpdated = activityData.imagen 
      this.typeUpdated = activityData.tipo
      this.nameUpdated = activityData.nombre
      this.placeUpdated = activityData.lugar
      this.descriptionUpdated = activityData.descripcion
      this.durationUpdated = activityData.duracion
      this.placesAvailableUpdated = activityData.plazas_disponibles
      this.startDateUpdated = this.$moment(activityData.fecha_inicio).format('YYYY/MM/DD')
      this.endDateUpdated = this.$moment(activityData.fecha_fin).format('YYYY/MM/DD')
      this.priceUpdated = activityData.precio
      this.accommodationUpdated = activityData.alojamiento
      this.idActivity = activityData.id
      this.seeModal = true
    },
    //FUNCION PARA CONSEGUIR LISTADO DE ACTIVIDADES
    getActivities() {
      var self = this;
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.get('http://localhost:3000/actividades')
      .then(function(response) {
        console.log(response);
        self.activities = response.data
      })
      .catch(function(error) {
        console.log(error);
      })
    }
  },
 
  created() {
      this.getActivities()
  }
}
</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

/*VENTANA EMERGENTE DEL MODAL PARA ACTUALIZAR PRODUCTO*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0.5);
  overflow-y:scroll;
}

.modalBox {
  position: relative;
  background-size: cover;
  background-position: center;
  margin: 2% auto;
  padding: 3rem;
  width: 85%;
  height: 75%;
  border: 1px solid #888;
  color: #e7c4a2;
  line-height: 25px;
}

p {
  font-size: 35px;
  margin-left: 50px;
  margin-top: 20px;
}
.book {
   margin-top: 80px;
}
.book-1 {
   margin-left: 250px;
   margin-top: -300px;
}

.book-2 {
   margin-left: 500px;
   margin-top: -300px;
}

input {
    margin-bottom: 5px;
    padding: 10px;
    background-color:black;
    border-top: 2px solid black;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    color: white;
    cursor: pointer;
}

/*CONFIGURACION DE BOTONES DEL MODAL Y SU HOVER*/
.submit {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 8px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    font-size: 11px;
    outline: 0;
    position: relative;
    margin-top: -100px;
   
    display: grid;
    display: inline;
    margin-right: -20px;
    margin-left: 785px;
}

.submit:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

.return {
    font-size: 11px;
}

</style>

