<!-- PAGINA DE REGISTRO DE ACTIVIDADES -->
<template>
  <div class="activity_register">
    <vue-headful
      		title="ActivityRegister | Xperiences" />
        <p class="texto">Activities<br>Create</p>
        <!-- SI HAY CAMPOS VACIOS REPORTAMOS ERROR -->
        <p v-show="errorMsg">
            *Tienes campos vacios*
        </p>
        <!-- V-MODEL PARA REGISTRO DE ACTIVIDADES -->
        <div class="Registro">
            <span class="fontawesom-user"></span><input
            type="text" v-model="imagen" required placeholder="Image" autocomplete="off" class="input-100">
            <span class="fontawesom-user"></span><input
            type="text" v-model="tipo" required placeholder="Type" autocomplete="off" class="input-48">  
            <span class="fontawesom-user"></span><input 
            type="text" v-model="nombre" required placeholder="Name" autocomplete="off" class="input-48"> 
            <span class="fontawesom-user"></span><input
            type="text" v-model="lugar" required placeholder="Place" autocomplete="off" class="input-100"> 
            <span class="fontawesom-user"></span><input
            type="text" v-model="descripcion" required placeholder="Description" autocomplete="off" class="input-100">
            <span class="fontawesom-user"></span><input
            type="text" v-model="duracion" required placeholder="Activity duration" autocomplete="off" class="input-48">
            <span class="fontawesom-user"></span><input
            type="text" v-model="plazas_disponibles" required placeholder="Places available" autocomplete="off" class="input-48">    
            <span class="fontawesom-user"></span><input
            type="text" v-model="fecha_inicio" required placeholder="Initial date available (YYYY/MM/DD)" autocomplete="off" class="input-48"> 
            <span class="fontawesom-user"></span><input
            type="text" v-model="fecha_fin" required placeholder="Final date available (YYYY/MM/DD)" autocomplete="off" class="input-48"> 
            <span class="fontawesom-user"></span><input
            type="text" v-model="precio" required placeholder="Price" autocomplete="off" class="input-48"> 
            <span class="fontawesom-user"></span><input
            type="text" v-model="alojamiento" required placeholder="Accommodation" autocomplete="off" class="input-48"> 
            <!-- BOTON DE VALIDACION Y REGISTRO -->
            <input @click="validatingDataActivities()" type="submit" value="Submit" title="Activity create">
            
        </div>
        <router-link class="return" to="/user_dashboard">⬅ Back to Dashboard</router-link>
    </div>
</template>

<script>
//IMPORTAMOS AXIOS Y LA LIBRERIA QUE SACA UNA VENTANA EMERGENTE 
//CONFIGURABLE AL HACER CLICK EN UN BOTON
import axios from 'axios';
import Swa1 from 'sweetalert2';

export default {
    name: 'ActivityRegister',
    //ENVIAMOS DATOS
    data() {
    return {
      tipo: '',
      nombre: '',
      lugar: '',
      descripcion: '',
      imagen: '',
      duracion: '',
      plazas_disponibles: '',
      fecha_inicio: '',
      fecha_fin: '',
      precio: '',
      alojamiento: '',
      createProduct: false,
      errorMsg: false
    }
},
    methods: {
        //FUNCION QUE COMPRUEBA QUE TODOS LOS CAMPOS REQUERIDOS EXISTEN    
        validatingDataActivities() {
                if(this.tipo === ''||
                this.nombre === '' ||
                this.lugar === '' ||
                this.descripcion === ''||
                this.imagen === ''||
                this.duracion === ''||
                this.plazas_disponibles === ''||
                this.fecha_inicio === ''||
                this.fecha_fin === ''||
                this.precio === ''||
                this.alojamiento === '') { //comprobamos que no hay campos vacios
                    this.errorMsg = true
                    this.createProduct = false;
                Swa1.fire({
                    title: 'All fields required!',
                    icon: 'error',
                    confirmButtonText: 'Ok',
                    background: 'black',
                    confirmButtonColor: 'transparent',
                        onClose: () => {
                        location.reload()
                        }
                })
                }  else {
                    this.errorMsg = false
                    this.createActivity = true;
                    this.addNewActivity()
                Swa1.fire({
                    title: 'Success adding the new activity!',
                    icon: 'success',
                    confirmButtonText: 'Ok',
                    background: 'black',
                    confirmButtonColor: 'transparent',
                        onClose: () => {
                        location.reload()
                        }
                })
                }
            },
        //FUNCION PARA AÑADIR ACTIVIDADES
        addNewActivity() {
            if(this.createActivity === true) {
                //LLAMADA DE AXIOS AL ENDPOINT
                axios.post('http://localhost:3000/actividades/add', {
                tipo: this.tipo,
                nombre: this.nombre,
                lugar: this.lugar,
                descripcion: this.descripcion,
                imagen: this.imagen,
                duracion: this.duracion,
                plazas_disponibles: this.plazas_disponibles,
                fecha_inicio: this.fecha_inicio,
                fecha_fin: this.fecha_fin,
                precio: this.precio,
                alojamiento: this.alojamiento
                })
                .then((response) => {
                    console.log(response);
                })
                .catch((error) => {
                    console.log(error)
                })
                this.createActivity = false;
                this.tipo = '',
                this.nombre = '',
                this.lugar = '',
                this.descripcion = '',
                this.imagen = '',
                this.duracion = '',
                this.plazas_disponibles = '',
                this.fecha_inicio = '',
                this.fecha_fin = '',
                this.precio = '',
                this.alojamiento = ''//Asi vacia los campos una vez enviada la informacion para crear nueva actividad
            } else {
                console.log('Yo no deberia estar aqui');
            }
        }
    }
}

</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
font-family: 'FontAwesome', sans-serif;
}
/*CONFIGURACION GLOBAL FORMULARIO*/
.Registro {
    margin: auto;
    width: 95%;
    max-width: 500px;
    background: blanchedalmond;
    border-radius: 7px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #fff;
    border-top: 2px solid #2c90c6;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    color: #363636;
    cursor: pointer;
}
.input-48 {
    width: 45%;
}

.input-100 {
    width: 100%;
}

.Registro span {
    /*color: hsl(5, 50%, 57%);*/
    position: absolute;
    text-align: center;
    width: 36px;
}    

.Registro input {
    border: none;
    height: 20px;
    outline: none;
}

.msg {
    color: red;
    text-align: center;
    font-size: 8px;
}

/*CONFIGURACION ESTILOS Y COLORES BOTON SUBMIT Y SU HOVER*/
.Registro input[type="submit"] {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 5px;
    height: 25px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    margin: 1px;
    font-size: 11px;
    outline: 0;
    position: relative;
    margin: auto;
}

.Registro input[type="submit"]:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

.btn-enviar {
    padding: 2px;
}

.return {
    font-size: 11px;
}

.return {
    font-size: 11px;
}

/*TEXTO Y EFECTO DE SOMBREADO DEL TITULO*/
.texto {
    color: black; 
    font-size: 35px; 
    margin: 0% auto;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    padding-top: 30px;
    padding-bottom: 10px;
    animation: type 3s steps(10);
    overflow: hidden;
    white-space: nowrap;
}

.texto:hover {
    text-shadow: 2px 2px 20px  #2c90c6, rgb(158, 166, 56) 0 -1px 2px;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 10ch;
    }
}

</style>
  


   