<!-- VER VALORACIONES DE EXPERIENCIAS REALIZADAS POR LOS USUARIOS -->
<template>
  <div class="users">
      <vue-headful
      		title="Rating | Xperiences" />
         <p class="texto">Users<br>Rating<br>Xperiences</p> 
         <div class="padre">
            <!-- LA DIRECTIVA V-FOR NOS BUSCA CADA CLIENTE EN EL ARRAY DE ACTIVIDADES Y NOS DEVUELVE LA INFO QUE PEDIMOS
            AL FILTRAR EL ARRAY DE ACTIVIDADES PODEMOS BUSCAR SEGUN CRITERIO--> 
            <div class="container-table">
               <div class="table_title">RATINGS</div>
                <div class="table_header" id="title">Xperience date:
                <ul v-for="xperience in ratings" :key="xperience.id">
                <li class="date">{{ [xperience.fecha_actividades] | moment("MM/DD/YYYY") }}</li></ul></div>
                <div class="table_header" id="title">Xperience name:
                <ul v-for="xperience in ratings" :key="xperience.id">
                <li class="name">{{ xperience.actividades_realizadas }}</li></ul></div>
                <div class="table_header" id="title">Comments:
                <ul v-for="xperience in ratings" :key="xperience.id">
                <li class="comments">{{ xperience.comentario }}</li></ul></div>
                <div class="table_header" id="info-1">Rating:
                <ul v-for="xperience in ratings" :key="xperience.id">
                <li class="ratings">{{ xperience.valoracion }}</li></ul></div>             
            </div>
          </div>
          <router-link class="return" to="/user_dashboard">⬅ Back to Dashboard</router-link>
  </div>
</template>

<script>
//IMPORTAMOS LIBRERIAS Y COMPONENTES
import axios from 'axios'

export default {
  name: 'ManageUsersRatings',
   components: {
    
  },
  data() {
    return {
    ratings: [],
    }
  },
  methods: {
  //FUNCION PARA CONSEGUIR LISTADO DE PRODUCTOS
    getRatings() {
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.get('http://localhost:3000/ratings')
      .then((response) => {
        console.log(response);
        this.ratings = response.data
      })
      .catch((error) => {
        console.log(error);
      })
    },
  },

  created() {
      this.getRatings()
  }
}

</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
font-family: monospace, sans-serif;
}

.padre {
  font-family: monospace;
  
}

.container-table {
  width: 90%;
  margin: 50px auto;
  box-shadow: 0 0 20px #333;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  

}

.table_title {
  grid-column-start: 1;
  grid-column-end: 5;
  background: rgba(40,65,120,1);
  color: rgb(158, 166, 56);;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_header {
  display: table;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  padding: 20px;
  margin-left: 20px;
}

.date  {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
  font-weight: normal; 
}

.name  {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
  font-weight: normal; 
}

.comments {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
  font-weight: normal; 
}

.ratings {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
  font-weight: normal; 
}


/*TEXTO Y EFECTO DE SOMBREADO DEL TITULO*/
.texto {
    color: black; 
    font-size: 35px; 
    margin: 0% auto;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    padding-top: 10px;
    padding-bottom: 10px;
    animation: type 3s steps(10);
    overflow: hidden;
    white-space: nowrap;
}

.texto:hover {
    text-shadow: 2px 2px 20px  #2c90c6, rgb(158, 166, 56) 0 -1px 2px;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 10ch;
    }
}

.return {
    font-size: 11px;
}

</style>

