<!-- VISTA QUE HACE LAS PETICIONES AL SERVIDOR (AL BACKEND, API.JS EN ESTE CASO) -->
<template>
  <div class="users">
      <vue-headful
      		title="UsersUpdate | Xperiences" />
   <!-- DECLARAMOS EL COMPONENTE (PASO 3/3) Y LE PASAMOS LAS FUNCIONES -->         
   <userslistupdatedelete v-on:data="userInfoShowed" v-on:delete="userDeleted"
        :users="users"/>  

         <!-- MODAL PARA ACTUALIZAR USUARIO, ABRIENDO UNA VENTANA -->
    <div class="Registro">
    <div v-show="seeModal" class="modal">
    <div class="modalBox">
   
        <h3>
          Updating user:
        </h3>
        <p>
          {{ nameUpdated }} {{ surnameUpdated }}
        </p>
        <!-- BOTON PARA CANCELAR Y VOLVER A LA PANTALLA DE USUARIOS -->
        <input @click="seeModal =! seeModal" type="submit" value="Cancel" title="Cancel" class="cancel">
        <!-- BOTON QUE ACTUALIZA LOS DATOS DEL USUARIO -->
        <input @click="userUpdate()" type="submit" value="Update" title="Update" class="submit">
        <div class="data-1">
        Image:<br>
        <input type="text" placeholder="User image" v-model="imageUpdated">
        <br>Name:<br>
        <input type="text" placeholder="User name" v-model="nameUpdated">
        <br>Surname:<br>
        <input type="text" placeholder="User surname" v-model="surnameUpdated">
        <br>D.N.I:<br>
        <input type="text" placeholder="User dni" v-model="dniUpdated">
        </div>
        <div class="data-2">
        <br>email:<br>
        <input type="text" placeholder="User email" v-model="emailUpdated">
        <br>Address:<br>
        <input type="text" placeholder="User address" v-model="addressUpdated">
        <br>City:<br>
        <input type="text" placeholder="User city" v-model="cityUpdated">
        <br>State:<br>
        <input type="text" placeholder="User state" v-model="stateUpdated">
        </div>
        <div class="data-3">
        <br>Zip Code:<br>
        <input type="text" placeholder="User zip code" v-model="zipcodeUpdated">
        <br>Country:<br>
        <input type="text" placeholder="User country" v-model="countryUpdated">
        <br>
        <br>Phone:<br>
        <input type="text" placeholder="User phone" v-model="phoneUpdated">
        <br>
        <br>Role:<br>
        <input type="radio" name="User rol" v-model="roleUpdated" value="normal">normal
        <br>
        <input type="radio" placeholder="User rol" v-model="roleUpdated" value="admin">admin
        <br>
        </div>
        
        
    </div>
    </div>
    </div> 
       
  </div>
</template>

<script>
//IMPORTAMOS LIBRERIAS Y COMPONENTES (PASO 1/3)
import axios from 'axios';
import Swa1 from 'sweetalert2';
import userslistupdatedelete from '@/components/UsersListUpdateDelete.vue'

export default {
  name: 'UsersUpdateDelete',
  //REGISTRAMOS EL COMPONENTE (PASO 2/3)
  components: {
    userslistupdatedelete
   
  },
  //ENVIAMOS DATOS
  data() {
    return {
    users: [],
    idUser: '',
    imageUpdated: '',
    nameUpdated: '',
    surnameUpdated: '',
    dniUpdated: '',
    emailUpdated: '',
    addressUpdated: '',
    cityUpdated: '',
    stateUpdated: '',
    zipcodeUpdated: '',
    countryUpdated: '',
    phoneUpdated: '',
    roleUpdated: '',
    seeModal: false
    }
  },
  methods: {
    //FUNCION DE BORRADO DE USUARIO
    userDeleted(userIndex) {
      console.log(userIndex);
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.delete('http://localhost:3000/usuarios/delete/' + userIndex)
      .then((response) => {
        console.log(response);
      })
      .catch((error) => {
        console.log(error);
      })
    },
    
    //FUNCION DE ACTUALIZAR USUARIO
    userUpdate() {
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.put('http://localhost:3000/usuarios/update/' + this.idUser, {
        imagen: this.imageUpdated,
        nombre: this.nameUpdated,
        apellidos: this.surnameUpdated,
        dni: this.dniUpdated,
        email: this.emailUpdated,
        direccion: this.addressUpdated,
        ciudad: this.cityUpdated,
        provincia: this.stateUpdated,
        codigo_postal: this.zipcodeUpdated,
        pais: this.countryUpdated,
        telefono: this.phoneUpdated,
        rol: this.roleUpdated
      }).then((response) => {
        console.log(response);
      })
      .catch((error) => {
        console.log(error);
      })
      Swa1.fire({
        title: 'User profile was already updated, thank you!',
        icon: 'success',
        confirmButtonText: 'Ok',
        background: 'black',
        confirmButtonColor: 'transparent',
        onClose: () => {
          this.getUsers()
          this.seeModal = false
          }
      })
    },
    userInfoShowed(userData) {
      this.imageUpdated = userData.imagen 
      this.nameUpdated = userData.nombre
      this.surnameUpdated = userData.apellidos
      this.dniUpdated = userData.dni
      this.emailUpdated = userData.email
      this.addressUpdated = userData.direccion
      this.cityUpdated = userData.ciudad
      this.stateUpdated = userData.provincia
      this.zipcodeUpdated = userData.codigo_postal
      this.countryUpdated = userData.pais
      this.phoneUpdated = userData.telefono
      this.roleUpdated = userData.rol
      this.idUser = userData.id
     
      this.seeModal = true
    },
    
    //FUNCION PARA CONSEGUIR LISTADO DE USUARIOS
    getUsers() {
      //LLAMADA DE AXIOS AL ENDPOINT
      axios.get('http://localhost:3000/usuarios')
      .then((response) => {
        console.log(response);
        this.users = response.data
      })
      .catch((error) => {
        console.log(error);
      })
    },
  },

  created() {
      this.getUsers()
  }
}
</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

p {
  color: rgb(180, 4, 4);
  font-size: 50px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0.5);
  overflow-y:scroll;
  margin-top: -8px;
}

.modalBox {
  position: relative;
  background-size: cover;
  background-position: center;
  margin: 2% auto;
  padding: 3rem;
  width: 80%;
  border: 1px solid #888;
  color: #e7c4a2;
  line-height: 25px;
  margin-top: 50px;
}

.data-1 {
   margin-left: 50px;
   margin-top: 50px;
}

.data-2 {
   margin-left: 300px;
   margin-top: -300px;
}

.data-3 {
   margin-left: 550px;
   margin-top: -303px;
}

input {
    margin-bottom: 5px;
    padding: 10px;
    background-color:black;
    border-top: 2px solid black;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    color: white;
    cursor: pointer;
}

.fields {
  font-size: 8px;
  text-align: center;
}
/*CONFIGURACION DE BOTONES DEL MODAL Y SU HOVER*/
.submit {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 8px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    margin: 1px;
    font-size: 11px;
    outline: 0;
    position: relative;
    margin-top: -15px;
    display: inline;
    margin-left: -5px;
   
       
}

.submit:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

.cancel {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 8px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    margin: 1px;
    font-size: 11px;
    outline: 0;
    position: relative;
    margin-top: -15px;
    display: inline;
    margin-left: 600px;
    margin-right: 10px;
       
}

.cancel:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

</style>

