<!-- COMPONENTE QUE RECIBE UNA LISTA (ARRAY) DE CLIENTES, LOS LISTA Y PERMITE EDITARLOS Y/O ELIMINARLOS -->
<template>
    <div id="clients">
        <p class="texto">Clients<br>List</p>
        <ul class="padre">
            <!-- LA DIRECTIVA V-FOR NOS BUSCA CADA CLIENTE EN EL ARRAY DE CLIENTES Y NOS DEVUELVE LA INFO QUE PEDIMOS--> 
            <li v-for="(cliente, index) in clientes" :key="cliente.id">
                <p>
                    <img id="image" :src="cliente.foto"/>
                </p>
                <p>
                    Nombre: 
                    {{ cliente.nombre }}
                </p>
                <p>
                    Usuario: 
                    {{ cliente.usuario }}
                </p>
                <p>
                    Password: 
                    {{ cliente.password }}
                </p>
                <p>
                    email: 
                    {{ cliente.email }}
                </p>
                <!-- BOTON PARA BORRAR -->
                <input @click="enviarIndiceCliente(index)" type="submit" value="Delete" title="Delete">
                <!-- BOTON PARA EDITAR -->
                <input @click="enviarDatosCliente(index)" type="submit" value="Edit" title="Edit">
            </li>
        </ul>
    </div>
</template>

<script>

export default {
    name: 'ClientsList',
    //RECIBIMOS UN ARRAY DE CLIENTES
    props: {
        clientes: Array
    },
    methods: {
        //FUNCION QUE EMITE UN EVENTO CON TODOS LOS DATOS DEL CLIENTE PARA SU EDICION
        enviarDatosCliente(index) {
            let datosCliente = this.clientes[index]
            this.$emit('datos', datosCliente)
        },
        //FUNCION QUE EMITE UN EVENTO CON EL ID DEL CLIENTE PARA SU BORRADO
        enviarIndiceCliente(index) {
            let indiceCliente = this.clientes[index].id
            console.log(indiceCliente);
            this.$emit('borrar', indiceCliente)
        }
    }
}
</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

/*PADRE AFECTA A TODOS LOS CLIENTES, CON GRID SE AJUSTARAN UNO AL LADO DEL
OTRO OCUPANDO TODO EL ESPACION DISPONIBLE*/
.padre {
    border: 1px;
    display: grid;
    width: auto;
    margin: 2px, auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    padding-top: 30px;
}

ul {
    list-style: none;
}

/*BORDE ROJO QUE DELIMITA CADA CLIENTE, EL RADIOS ES EL EFECTO REDONDEADO DE LAS ESQUINAS*/
ul li {
    border: 2px solid rgb(209, 33, 33);  
    border-radius: 15px;
    margin: 0.667rem;
}

/*POSICION Y TAMAÑO DE LAS IMAGENES*/
#image {
    width: 300px;
    height: 300px;
    position: relative;
}

/*CONFIGURACION DE BOTONES Y SU HOVER*/
input[type="submit"] {
    background-color:  rgb(107, 14, 14);
    border: 1px solid #2c90c6;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    cursor: pointer;
    margin: 10px;
    font-size: 8px;
    outline: 0;
}

input[type="submit"]:hover {
    background-color: rgb(218, 78, 78);
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

/*TEXTO Y HOVER DEL TEXTO DE CADA CLIENTE*/
p {
    color: #e7c4a2;
    padding: 10px;
}

p:hover {
    text-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

/*TEXTO Y EFECTO DE SOMBREADO DEL TITULO*/
.texto {
    color: rgb(107, 14, 14); 
    font-size: 35px; 
    margin: 0% auto;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    padding-top: 40px;
}

</style>