<!--FOOTER DE CADA PAGINA-->
<template>
  <footer>
        HackaBoss - Frontend - Entrega2 - Vuejs - CreatedBy⚡Juan_Rodriguez@2020
  </footer>
</template>

<script>
export default {
    name: 'FooterCustom'
}
</script>

<style scoped>
  /*POSICION Y COLOR DEL FOOTER*/
  footer {
      margin-top: 5rem;
      padding: 1rem;
      color:  rgb(107, 14, 14);
    }

</style>