<!-- MENU DE NAVEGACION DE LA WEB -->
<template>
    <div id="nav">
      <!-- SE TRAE DE APP.VUE, SE AÑADE Y QUITA LO NECESARIO Y SE PASA DE ESTATICO A DINAMICO -->
      <!-- EL NAME DEBE CONCIDIR CON EL NAME DEL INDEX.JS -->
      <router-link :to="{ name: 'Home' }">Home</router-link> |
      <router-link :to="{ name: 'About' }">About</router-link> |
      <router-link :to="{ name: 'Productos' }">Products</router-link> |
      <router-link :to="{ name: 'Clientes' }">Clients</router-link> |
      <router-link :to="{ name: 'RegistrarCliente' }">Clients Register</router-link> |
      <router-link :to="{ name: 'RegistrarProducto' }">Products Create</router-link>
    </div> 
</template>

<script>

export default {
    name: 'MenuCustom'
}
</script>

<style scoped>
/*SE TRAE DE APP.VUE DONDE ESTA POR DEFECTO Y SE MODIFICA A VOLUNTAD*/
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #686a6d;
}

#nav a.router-link-exact-active {
  color: rgb(107, 14, 14)
}

</style>