<!-- COMPONENTE QUE RECIBE UNA LISTA (ARRAY) DE PRODUCTOS, LOS LISTA Y PERMITE EDITARLOS Y/O ELIMINARLOS -->
<template>
    <div id="ProductsList">
        <p class="texto">Products<br>List</p>
        <ul class="padre">
            <!-- LA DIRECTIVA V-FOR NOS BUSCA CADA CLIENTE EN EL ARRAY DE PRODUCTOS Y NOS DEVUELVE LA INFO QUE PEDIMOS--> 
            <li v-for="(producto, index) in productos" :key="producto.id">
                <p>
                <img id="image" :src="producto.imagen">
                </p>
                <p>
                    {{ producto.nombre }}
                </p>
                <p>Stock: 
                    {{ producto.stock }}
                </p>
                <p>Available: 
                    {{ producto.disponibilidad }}
                </p>
                <!-- BOTON PARA BORRAR -->
                <input @click="enviarIndiceProducto(index)" type="submit" value="Delete" title="Delete">
                <!-- BOTON PARA EDITAR -->
                <input @click="enviarDatosProducto(index)" type="submit" value="Edit" title="Edit">
                <!-- BOTON PARA COMPRAR => SALDRA VENTANA DE CONFIRMACION -->
                <input id="buy" @click="sweetAlertOnBuying()" type="submit" value="Buy it!" title="Buy it!">
                <!-- BOTON PARA AÑADIR AL CARRITO => SALDRA VENTANA DE CONFIRMACION -->
                <input Id="add" @click="sweetAlertOnAdding()" type="submit" value="Add to Cart!" title="Add to Cart!">
            </li>
        </ul>
    </div>
</template>

<script>
//IMPORTAMOS LA LIBRERIA QUE SACA UNA VENTANA EMERGENTE CONFIGURABLE AL HACER CLICK EN UN BOTON
import Swa1 from 'sweetalert2'

export default {
    name: 'ProductsList',
    //RECIBIMOS UN ARRAY DE PRODUCTOS
    props: {
        productos: Array
    },
    methods: {
        //FUNCION QUE EMITE UN EVENTO CON TODOS LOS DATOS DEL PRODUCTO PARA SU EDICION
        enviarDatosProducto(index) {
            let datosProducto = this.productos[index]
            this.$emit('datos', datosProducto)
        },
        //FUNCION QUE EMITE UN EVENTO CON EL ID DEL PRODUCTO PARA SU BORRADO
        enviarIndiceProducto(index) {
            let indiceProducto = this.productos[index].id
            console.log(indiceProducto);
            this.$emit('borrar', indiceProducto)
        },
        //VENTANA EMERGENTE DE CONFIRMACION DE COMPRA
        sweetAlertOnBuying() {
            Swa1.fire({
			title: "Thank you for buying this item",
			icon: 'success',
            confirmButtonText: 'Ok',
            background: 'black',
            confirmButtonColor: 'transparent'
            })
        },
        //VENTANA EMERGENTE DE CONFIRMACION DE QUE EL PRODUCTO SE AÑADIO AL CARRITO
        sweetAlertOnAdding() {
            Swa1.fire({
			title: "This item was succesfully added to your cart",
			icon: 'success',
            confirmButtonText: 'Ok',
            background: 'black',
            confirmButtonColor: 'transparent'
            })
        }
    }
}

</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

/*PADRE AFECTA A TODOS LOS PRODUCTOS, CON GRID SE AJUSTARAN UNO AL LADO DEL
OTRO OCUPANDO TODO EL ESPACION DISPONIBLE*/
.padre {
    border: 1px;
    display: grid;
    width: auto;
    margin: 2px, auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    padding-top: 30px;
}

ul {
    list-style: none;
}

/*BORDE ROJO QUE DELIMITA CADA CLIENTE, EL RADIOS ES EL EFECTO REDONDEADO DE LAS ESQUINAS*/
ul li {
    border: 2px solid rgb(209, 33, 33);  
    border-radius: 15px;
    margin: 0.667rem;
}

/*POSICION Y TAMAÑO DE LAS IMAGENES*/
#image {
    width: 300px;
    height: 300px;
    position: relative;
}

/*CONFIGURACION DE BOTONES Y SU HOVER*/
input[type="submit"] {
    background-color:  rgb(107, 14, 14);
    border: 1px solid #2c90c6;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    cursor: pointer;
    margin: 10px;
    font-size: 8px;
    outline: 0;
}

input[type="submit"]:hover {
    background-color: rgb(218, 78, 78);
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

/*TEXTO Y EFECTO DE SOMBREADO DEL TITULO*/
.texto {
    color: rgb(107, 14, 14); 
    font-size: 35px; 
    margin: 0% auto;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    padding-top: 40px;
}

/*TEXTO Y HOVER DEL TEXTO DE CADA CLIENTE*/
p {
    color: #e7c4a2;
    padding: 10px;
}

p:hover {
    text-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

</style>