<!-- EN APP.VUE VA TODO LO QUE ES COMUN AL SITE ENTERO -->
<template>
  <div id="app">
    <!-- ESTE DIV APP ES EL QUE SE INSERTARA EN EL PUBLIC/HTML, POR ELLO AQUI SE INESERTAN
    EL MENU, EL FOOTER Y TODAS LAS VISTAS -->  
    <menucustom/>
    <router-view/>
    <footercustom/>
  </div>
</template>

<script>

import menucustom from '@/components/MenuCustom';

import footercustom from '@/components/FooterCustom';


export default {
      name: 'App',
      components: {
        menucustom,
        footercustom
      }
}
</script>

<style>
/*FORMATO PARA EL DIV#APP, COMUN A TODO EL SITE*/
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-image: url(./assets/space.jpg);
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

</style>
