<!-- COMPONENTE QUE RECIBE UNA LISTA (ARRAY) DE PRODUCTOS, LOS LISTA Y PERMITE EDITARLOS Y/O ELIMINARLOS -->
<template>
    <div id="ActivitiesList">
         <p v-if="$route.name === 'Activities'" class="texto">Our<br>Activities</p>

        <p v-if="$route.name === 'ActivitiesUpdate'" class="texto">Activities<br>Update</p>
        <div class="box">
        <div class="container-1">
        <!-- SELECTOR DE CATEGORIA -->
        <select type="category" v-model="category" name="category" id="category" class="select">
        <option value>Select a category</option>
        <option value="Type">Type</option>
        <option value="Name">Name</option>
        <option value="Place">Place</option>
        <option value="Duration">Duration</option>
        <option value="Places">Places</option>
        <option value="Price">Price</option>    
        </select>
        <!-- ICONO "LUPA" -->
        <span class="icon"><i class="fa fa-search"></i></span>    
        <!-- ESTE INPUT HACE UN CUADRO DE BUSQUEDA PARA FILTRAR LAS ACTIVIDADES -->
        <input type="search" v-model="search" placeholder=" Search...">
        <!-- ESTE INPUT HACE UN CUADRO DE BUSQUEDA PARA FILTRAR POR FECHAS LAS ACTIVIDADES -->
        <input type="date" v-model="date" class="date">
        <button @click="dateFilter()" type="find" value="Find!" title="Find!">Find!</button>
        </div>
        </div>
        <div v-for="(activity, index) in filtered" :key="activity.id">
            <div id="container">	
                <!-- Start	Product details -->
	            <div class="product-details">
                <!-- Product Name -->
	            <h1>{{ activity.nombre }}</h1>
                <!-- 		<span class="hint new">New</span> -->
                <!-- 		<span class="hint free-shipping">Free Shipping</span> -->
                <!-- 		the Product rating -->
                <span class="hint-star star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
		        <!-- The most important information about the product -->
		        <p class="information">{{ activity.descripcion }}</p>
                <!-- 		Control -->
                <div class="control">
                    <!-- BOTON PARA RESERVAR: SI ESTA LOGUEADO => A PAGINA DE RESERVAS, SINO A LOGIN -->
                <!-- Start Button buying if logged-->
                    <button class="btn" v-if="logged && $route.name !== 'ActivitiesUpdate'" @click="activityDataSend(index)" type="submit" value="Book Now" title="Book Now">
                <!-- 		the Price -->
                    <span class="price">{{ activity.precio }} €</span>
                <!-- 		shopping cart icon-->
                <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                <!-- 		Buy Now / ADD to Cart-->
                <span class="buy">Book Now</span>
                
                </button>
                <!-- Start Button buying if !logged-->
                    <button class="btn" v-if="!logged" @click="$router.push('Login')" type="submit" value="Book Now" title="Book Now">
                <!-- 		the Price -->
                    <span class="price">{{ activity.precio }} €</span>
                <!-- 		shopping cart icon-->
                <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                <!-- 		Buy Now / ADD to Cart-->
                <span class="buy">Book Now</span>
                </button>
                <!-- BOTON PARA BORRAR -->
                <input v-if="$route.name === 'ActivitiesUpdate'" @click="activityIndexSend(index)" type="submit" value="Delete" title="Delete" class="btn-del_edit">
                <!-- BOTON PARA EDITAR -->
                <input v-if="$route.name === 'ActivitiesUpdate'" @click="activityDataSend(index)" type="submit" value="Edit" title="Edit" class="btn-del_edit">
                    <!-- End Button buying -->
                </div>
		        </div>
	            <!-- 	End	Product details   -->
		
                <!-- 	Start product image & Information -->
	
                <div class="product-image">
	
	            <img id="image" :src="activity.imagen" alt="Activity Image">
	
                <!-- 	product Information-->
                <div class="info">
                    <h2>The Description</h2>
                    <ul class="products">
                        <li><strong>Type: </strong>{{ activity.tipo }}</li>
                        <li><strong>Place: </strong>{{ activity.lugar }}</li>
                        <li><strong>Duration: </strong>{{ activity.duracion }}</li>
                        <li><strong>Available from: </strong>{{ [activity.fecha_inicio] | moment("MM/DD/YYYY") }}</li>
                        <li><strong>Available till: </strong>{{ [activity.fecha_fin] | moment("MM/DD/YYYY") }}</li>
                        <li><strong>Places available: </strong>{{ activity.plazas_disponibles }}</li>
                        <li><strong>Accommodation: </strong>{{ activity.alojamiento }}</li>
                    </ul>
                </div>
                </div>
                <!--  End product image  -->
                </div>
            </div>
        <!--ARROWS 
       
        <button class="arrow left">
            <svg width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
                <polyline fill="none" stroke="#1f6ff8" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" points="
                45.63,75.8 0.375,38.087 45.63,0.375 "/>
            </svg>  
        </button>
        <button class="arrow right">
            <svg width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
                <polyline fill="none" stroke="#1f6ff8" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" points="
                0.375,0.375 45.63,38.087 0.375,75.8 "/>
            </svg>
        </button> -->
    </div>
</template>

<script>
//IMPORTAMOS LA LIBRERIA QUE SACA UNA VENTANA EMERGENTE CONFIGURABLE AL HACER CLICK EN UN BOTON
import Swa1 from 'sweetalert2'
import axios from 'axios'
//IMPORTAMOS ISLOGGEDIN PARA MOSTRAR / OCULTAR RUTAS EN FUNCION DE SI SE ESTA O NO LOGUEADO 
import { isLoggedIn } from '/home/hab8/Documents/HackaBoss/Entregas/entregas-hab/Proyecto/backend/api/utils.js'

import { library } from '@fortawesome/fontawesome-svg-core'
import { faUserSecret } from '@fortawesome/free-solid-svg-icons'

library.add(faUserSecret)

export default {
    name: 'ActivitiesList',
    //RECIBIMOS UN ARRAY DE PRODUCTOS
    props: {
        activities: Array
    },
    data() {
    return {
        search: '',
        category: '',
        logged: false,
        date: ''
    }
    },
    computed: { 
    //FUNCION PARA FILTRAR LAS ACTIVIDADES
        filtered() {
            if(!this.search) {
                return this.activities
            if(this.date)
                return this.activities
            } else {
            return this.activities.filter( activity => 
                activity.tipo.toLowerCase().includes(this.search.toLowerCase()) ||
                activity.nombre.toLowerCase().includes(this.search.toLowerCase()) ||
                activity.lugar.toLowerCase().includes(this.search.toLowerCase()) ||
                activity.duracion.includes(this.search) ||
                activity.plazas_disponibles.includes(this.search) ||
                activity.precio.includes(this.search)
            )}
        }
    },
    methods: {
        
        //FUNCION FILTRAR POR FECHA
        dateFilter() {
        //LLAMADA DE AXIOS AL ENDPOINT
        axios.get('http://localhost:3000/actividades/date/' + this.date)
        .then((response) => {
            console.log(response);
            this.activities = response.data
            console.log(this.activities);
        })
        .catch((error) => {
            console.log(error);
        })
        },

        //FUNCION QUE COMPRUEBA SI EL USUARIO ESTA LOGUEADO O NO
        getLogin() {
        this.logged = isLoggedIn()
        },

        //FUNCION QUE EMITE UN EVENTO CON TODOS LOS DATOS DEL PRODUCTO PARA SU RESERVA
        activityDataSend(index) {
            let activityData = this.activities[index]
            this.$emit('data', activityData)
        },
       
        //FUNCION QUE EMITE UN EVENTO CON EL ID DEL PRODUCTO PARA SU BORRADO
        activityIndexSend(index) {
            let activityIndex = this.activities[index].id
            console.log(activityIndex);
            Swa1.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                background: 'black',
                })
                .then((result) => {
                if (result.value) {
                    Swa1.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success',
                    setTimeout( () => {
                    location.reload()
                     }, 3000)
                    )}
                })
            this.$emit('delete', activityIndex)
        }
    },

    created() {
        this.getLogin()
    }
}

</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
font-family: 'FontAwesome', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

/*CUADROS DE BUSQUEDA, BOTON "FIND" Y HOVER*/
.container-1 {
    display: flex;
    justify-content: center;
    height: 25px;
}

/*LUPA*/
.container-1 span {
    color: grey;
    height: 15px;
    line-height: 25px;
    position: absolute;
    margin-right: 300px;
}    

.container-1 select[type="category"] {
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: grey;
    width: 62px;
    margin-right: 10px;
    outline: 0;
}

select[type="category"]:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

.container-1 input[type="search"] {
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    padding-left: 25px;
    width: 150px;
    margin-right: 10px;
    outline: 0;
}

input[type="search"]:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

.container-1 input[type="date"] {
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    padding-left: 25px;
    width: 120px;
    margin-right: 10px;
    font-size: 11px;
    color: grey;
    outline: 0;
}

input[type="date"]:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

button[type="find"] {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 15px;
    height: 25px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    margin: 1px;
    font-size: 11px;
    outline: 0;
    position:relative;
}

button[type="find"]:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

/*CONFIGURACION BOTON LOGIN Y SU HOVER*/
.btn-del_edit {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
    height: 25px;
    text-align: center;
    width: 75px;
    cursor: pointer;
    font-size: 11px;
    outline: 0;
    margin: auto;
    margin-right: 5px;
}

.btn-del_edit:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

body {
background: #DFC2F2;
	background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
	background-attachment: fixed;	
	background-size: cover;
	}

#container{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 3em auto;
	height: 350px;
	width: 600px;
}

/* 	Product details  */
.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;
}

.products {
    list-style:circle;
    margin-left: 30px;
}
/* 	Product Name */
#container .product-details h1{
	font-family: 'Old Standard TT', serif;
	display: inline-block;
	position: relative;
	font-size: 34px;
	color: #344055;
	margin: 0;
}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Farsan', cursive;
	display: inline-block;
	background: #FFA69E;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: #FFF;
	margin: 0;
	animation: chan-sh 6s ease infinite;
}

@keyframes chan-sh {
	from  {content: 'limited places!';}
	to  {content: 'New';}
}

/*Product Rating  */
.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}


/* The most important information about the product */
#container .product-details > p {
	font-family: 'Farsan', cursive;
	text-align: center;
	font-size: 20px;
	color: #7d7d7d;
}

/* control */

.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
}

/* the Button */
.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: #49C608;
	border-radius: 5px;
    position: relative;
    overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
}

.btn:hover{transform: translateY(-4px);}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
    padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
}

/* shopping cart icon */
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

/* the Icon */
.btn .shopping-cart {
	transform: translateX(-100%);
    position: absolute;
	background: #333;
	z-index: 1;
    left: 0;
    top: 0;
}

/* buy */
.btn .buy {z-index: 3; font-weight: bolder;}

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}

/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 50%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Farsan', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 120%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

/*TEXTO Y EFECTO DE SOMBREADO DEL TITULO*/
.texto {
    color: rgb(158, 166, 56); 
    font-size: 40px; 
    margin: 0% auto;
    text-align: center;
    font-family: 'Titan One';   
    text-shadow: 1px 2px 1px  rgba(0,0,0,.5);
    padding-top: 40px;
    padding-bottom: 30px;
    animation: type 3s steps(10);
    overflow: hidden;
    white-space: nowrap;
}

p:hover {
    text-shadow: 2px 2px 20px  #2c90c6, rgb(158, 166, 56) 0 -1px 2px;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 10ch;
    }
}

</style>