<!-- GESTION DE RESERVAS POR PARTE DEL USUARIO, EDICION Y/O BORRADO -->
<template>
  <div class="bookings">
      <vue-headful
      		title="UserBookings | Xperiences" />
              <div class="box">
        <div class="container-1">
        <!-- SELECTOR DE CATEGORIA -->
        <select class="select">
        <option value>Select a category</option>
        <option value="Booked Id">Booked Id</option>
        <option value="Booked Id">Name</option>
        <option value="Number of participants">Participants</option>
        <option value="User Id">User Id</option>
        <option value="User Name">User name</option>
        <option value="email">email</option>
        </select>
        <!-- ICONO "LUPA" -->
        <span class="icon"><i class="fa fa-search"></i></span>    
        <!-- ESTE INPUT HACE UN CUADRO DE BUSQUEDA PARA FILTRAR LAS ACTIVIDADES -->
        <input type="search" v-model="search" placeholder=" Search...">
        <!-- ESTE INPUT HACE UN CUADRO DE BUSQUEDA PARA FILTRAR POR FECHAS LAS ACTIVIDADES -->
        <input type="date" v-model="date" class="date">
        <button @click="dateFilter()" type="find" value="Find!" title="Find!">Find!</button>
        </div>
        </div>
            <div v-for="(book, index) in filtered" :key="book.id">
            <div id="container">	
                <!-- Start	Product details -->
	            <div class="product-details">
                <!-- Product Name -->
	            <h1>{{ book.nombre_actividad }}</h1>
               
		        <!-- The most important information about the product -->
		        <p class="information">{{ book.descripcion }}</p>
                <!-- 		Control -->
                <div class="control">
                   
                <!-- BOTON PARA BORRAR -->
                <input @click="bookingIndexSend(index)" type="submit" value="Delete" title="Delete" class="btn-del_edit">
                <!-- BOTON PARA EDITAR -->
                <input @click="bookingDataSend(index)" type="submit" value="Edit" title="Edit" class="btn-del_edit">
                    <!-- End Button buying -->
                </div>
		        </div>
	            <!-- 	End	Product details   -->
		
                <!-- 	Start product image & Information -->
	
                <div class="product-image">
	
	            <img id="image" :src="book.imagen" alt="Activity Image">
	
                <!-- 	product Information-->
                <div class="info">
                    <h2>The Description</h2>
                    <ul class="products">
                        <li><strong>Activity Booked Id: </strong>{{ book.id_actividad }}</li>
                        <li><strong>Date: </strong>{{ [book.fecha] | moment("MM/DD/YYYY") }}</li>
                        <li><strong>Number of Participants: </strong>{{ book.numero_asistentes }}</li>
                        <li><strong>User Id: </strong>{{ book.id_usuario }}</li>
                        <li><strong>User Name: </strong>{{ book.nombre_usuario }}</li>
                        <li><strong>email: </strong>{{ book.email }}</li>
                    </ul>
                </div>
                </div>
                <!--  End product image  -->
                </div>
                </div>
                    
            </div>

  </div>
</template>

<script>
//IMPORTAMOS LIBRERIAS Y COMPONENTES
import axios from 'axios'
//IMPORTAMOS LA LIBRERIA QUE SACA UNA VENTANA EMERGENTE CONFIGURABLE AL HACER CLICK EN UN BOTON
import Swa1 from 'sweetalert2'


export default {
  name: 'BookingsList',
    //RECIBIMOS UN ARRAY DE RESERVAS
    props: {
        bookings: Array
    },
    data() {
    return {
        search: '',
        category: '',
        date: ''
    }
    },
    computed: { 
    //FUNCION PARA FILTRAR LAS ACTIVIDADES
        filtered() {
            if(!this.search) {
                return this.bookings
            if(this.date)
                return this.bookings
            } else {
            return this.bookings.filter( book => 
                book.id_actividad.includes(this.search) ||
                book.numero_asistentes.includes(this.search) ||
                book.id_usuario.includes(this.search) ||
                book.nombre_usuario.toLowerCase().includes(this.search.toLowerCase()) ||
                book.nombre_actividad.toLowerCase().includes(this.search.toLowerCase()) ||
                book.email.toLowerCase().includes(this.search.toLowerCase())
            )}
        }
    },
    methods: {
        //FUNCION FILTRAR POR FECHA
        dateFilter() {
        //LLAMADA DE AXIOS AL ENDPOINT
        axios.get('http://localhost:3000/reservas/date/' + this.date)
        .then((response) => {
            console.log(response);
            this.bookings = response.data
            console.log(this.bookings);
        })
        .catch((error) => {
            console.log(error);
        })
        },
        //FUNCION QUE EMITE UN EVENTO CON TODOS LOS DATOS DE LA RESERVA PARA SU EDICION
        bookingDataSend(index) {
            let bookingData = this.bookings[index]
            this.$emit('data', bookingData)
        },
        //FUNCION QUE EMITE UN EVENTO CON EL ID DE LA RESERVA PARA SU BORRADO
        bookingIndexSend(index) {
            let bookingIndex = this.bookings[index].id
            console.log(bookingIndex);
            Swa1.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                background: 'black',
                })
                .then((result) => {
                if (result.value) {
                    Swa1.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success', 
                    setTimeout( () => {
                    location.reload()
                     }, 3000)
                    )}   
                })
            this.$emit('delete', bookingIndex)
        },
        //VENTANA EMERGENTE DE CONFIRMACION DE COMPRA
        sweetAlertOnBookingUpdate() {
            Swa1.fire({
			      title: "Your booking was succesfully updated",
			      icon: 'success',
            confirmButtonText: 'Ok',
            background: 'black',
            confirmButtonColor: 'transparent'
            })
        },
    }
}

</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);

[class*="fontawesome-"]:before {
font-family: 'FontAwesome', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

/*CUADROS DE BUSQUEDA, BOTON "FIND" Y HOVER*/
.container-1 {
    display: flex;
    justify-content: center;
    height: 25px;
}

/*LUPA*/
.container-1 span {
    color: grey;
    height: 15px;
    line-height: 25px;
    position: absolute;
    margin-right: 300px;
}    

.container-1 .select {
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: grey;
    width: 62px;
    margin-right: 10px;
    outline: 0;
}

select:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

.container-1 input[type="search"] {
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    padding-left: 25px;
    width: 150px;
    margin-right: 10px;
    outline: 0;
}

input[type="search"]:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

.container-1 input[type="date"] {
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    padding-left: 25px;
    width: 120px;
    margin-right: 10px;
    font-size: 11px;
    color: grey;
    outline: 0;
}

input[type="date"]:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
}

button[type="find"] {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 15px;
    height: 25px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    margin: 1px;
    font-size: 11px;
    outline: 0;
    position:relative;
}

button[type="find"]:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

/*CONFIGURACION BOTON EDIT Y SU HOVER*/
.btn-del_edit {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
    height: 25px;
    text-align: center;
    width: 75px;
    cursor: pointer;
    font-size: 11px;
    outline: 0;
    margin: auto;
    margin-right: 5px;
}

.btn-del_edit:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

body {
background: #DFC2F2;
	background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
	background-attachment: fixed;	
	background-size: cover;
	}

#container{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 3em auto;
	height: 350px;
	width: 600px;
}

/* 	Product details  */
.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;
}

.products {
    list-style:circle;
    margin-left: 30px;
}
/* 	Product Name */
#container .product-details h1{
	font-family: 'Old Standard TT', serif;
	display: inline-block;
	position: relative;
	font-size: 34px;
	color: #344055;
	margin: 0;
	
}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Farsan', cursive;
	display: inline-block;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: #FFF;
	margin: 0;
}

/* The most important information about the product */
#container .product-details > p {
	font-family: 'Farsan', cursive;
	text-align: center;
	font-size: 20px;
	color: #7d7d7d;	
}

/* control */
.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
}

/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 50%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Farsan', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 120%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

</style>

