<!-- COMPONENTE QUE RECIBE UNA LISTA (ARRAY) DE USUARIOS, LOS LISTA Y PERMITE EDITARLOS Y/O ELIMINARLOS -->
<template>
    <div id="UsersList">
            <!-- LA DIRECTIVA V-FOR NOS BUSCA CADA USUARIO EN EL ARRAY DE USUARIOS Y NOS DEVUELVE LA INFO QUE PEDIMOS
            AL FILTRAR EL ARRAY DE USUARIOS PODEMOS BUSCAR SEGUN CRITERIO--> 
        <div v-for="(user, index) in users" :key="user.id">
        <div class="wrapper">
    <div class="left">
        <img id="image" :src="user.imagen" alt="user" width="100">
        <h4>{{ user.nombre }} {{ user.apellidos }}</h4>
         <p>Id: {{ user.id }}</p>
         <p>Role: {{ user.rol }}</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                <div class="data">
                    <h4>Email</h4>
                    <p>{{ user.email }}</p>
                </div>
                <div class="data">
                   <h4>Phone</h4>
                    <p>{{ user.telefono }}</p>
                </div>
                <div class="data">
                   <h4>D.N.I</h4>
                    <p>{{ user.dni }}</p>
                </div>
                <div class="data">
                   <h4>Address</h4>
                    <p>{{ user.direccion }}</p>
                </div>
                <div class="data">
                   <h4>City</h4>
                    <p>{{ user.ciudad }}</p>
                </div>
                <div class="data">
                   <h4>State</h4>
                    <p>{{ user.provincia }}</p>
                </div>
                <div class="data">
                   <h4>Zip code</h4>
                    <p>{{ user.codigo_postal }}</p>
                </div>
                <div class="data">
                   <h4>Country</h4>
                    <p>{{ user.pais }}</p>
                </div>
                           
            </div>
                <!-- BOTON PARA BORRAR -->
                <input @click="userIndexSend(index)" type="submit" value="Delete" title="Delete" class="btn-del_edit">
                <!-- BOTON PARA EDITAR -->
                <input @click="userDataSend(index)" type="submit" value="Edit" title="Edit" class="btn-del_edit">
            
            </div>
            </div>
            </div>
            </div>
            <router-link class="return" to="/user_dashboard">⬅ Back to Dashboard</router-link>
    </div>
</template>

<script>
//IMPORTAMOS LA LIBRERIA QUE SACA UNA VENTANA EMERGENTE CONFIGURABLE AL HACER CLICK EN UN BOTON
import Swa1 from 'sweetalert2'
//IMPORTAMOS LA FUNCION LOGOUT
import { logout } from '/home/hab8/Documents/HackaBoss/Entregas/entregas-hab/Proyecto/backend/api/utils.js'

export default {
    name: 'UsersListUpdateOrDelete',
    //RECIBIMOS UN ARRAY DE USUARIOS
    props: {
        users: Array
    },
     methods: {
        //FUNCION QUE EMITE UN EVENTO CON TODOS LOS DATOS DEL USUARIO PARA SU EDICION
        userDataSend(index) {
            let userData = this.users[index]
            this.$emit('data', userData)
        },
        //FUNCION QUE EMITE UN EVENTO CON EL ID DEL USUARIO PARA SU BORRADO
        userIndexSend(index) {
            let userIndex = this.users[index].id
            console.log(userIndex);
            Swa1.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                background: 'black',
                })
                .then((result) => {
                if (result.value) {
                    Swa1.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success', 
                    setTimeout( () => {
                    location.reload()
                    }, 3000)
                    )}   
                })
            this.$emit('delete', userIndex)
        }
    }
}

</script>

<style scoped>
/*IMPORTAMOS LAS FUENTES A UTILIZAR*/
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f3f3;
}

.wrapper{
  position: relative;
  padding: 10px;
  width: 500px;
  height: 300px;
  display: flex;
  margin: auto;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 15px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info {
  margin-bottom: 15px;
}

.wrapper .right .info h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -40px;
}

.wrapper .right .info_data .data {
  width: 45%;
}

.wrapper .right .info_data .data h4 {
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.btn-del_edit {
    background-color:  black;
    border: 1px solid rgb(158, 166, 56);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 20px;
    height: 25px;
    text-align: center;
    width: 75px;
    cursor: pointer;
    font-size: 11px;
    outline: 0;
    margin: auto;
    margin-right: 5px;
    
}

.btn-del_edit:hover {
    background-color: #fff3e8;
    box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
    color: black;
}

.return {
    font-size: 11px;
}

</style>